@charset "utf-8";
.datasearch .h3 {margin:46px 0 20px;}
.sel-type5 select {height: 40px; width: 100%; padding: 0 40px 0 20px; color: #333; border: 0; font-size: 16px; border:1px solid #c8c8c8; font-family: "NanumGothic-Regular", "NanumGothic-Regular", "맑은고딕", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; background:#fff url(../images/common/ipt-sel5.png) no-repeat 100% 50%;
    color: #333;}
.btn-type2.orange {background:#f94607; border:1px solid #f94607; color:#fff;}

.datasearch .tbl-type1 tr > * {border-left:none; border-right:1px solid #d6d9db}
.datasearch .tbl-type1 tr > *:last-child {border-right:none;}
.datasearch .tbl-type1 tr > td {height:auto; padding:6px 0; font-size:14px;}
.datasearch .tbl-type1 tr > td .btn-type2 {height:35px; line-height:35px;}

.datasearch .tbl-type3 tr > * {color:#323232;}
.datasearch .tbl-type1.pc {display:table; }
.datasearch .tbl-type1.mo {display:none; }


/*bullet*/
.datasearch .txt-bul {text-align:left;}
.datasearch .txt-bul > li,
.datasearch p.txt-bul {position:relative; padding-left:14px;line-height:26px;}
.datasearch .txt-bul > li:before,
.datasearch p.txt-bul:before {display:block; content:""; position:absolute; left:0; top:10px; width:5px; height:5px; border-radius:2px; background:#4089c1;}
.datasearch .bg-txt-list {position:relative; margin-top:10px; padding:10px 20px 9px 30px; background:#ecf8fe; font-size:16px; line-height:26px; color:#383838;}
.datasearch .bg-txt-list:before {position:absolute; left:20px; top:7px; display:block; content:"-"; margin-right:5px; color:#2a5caa;}
.datasearch .list-dash {text-align: left; }
.datasearch .list-dash > li {position: relative; padding-left: 10px; }
.datasearch .list-dash > li:after {position: absolute; top:-2px; left: 0; content: "-"; }
.datasearch .list-num {}
.datasearch .list-num > li {margin-top:4px;text-indent:-16px; padding-left:16px;}
.datasearch .bg-box-list {margin:19px 0 13px; padding:14px 15px 12px; text-indent:0; background:#f1fafe;}
.datasearch .bg-box-list ul {}
.datasearch .bg-box-list ul > li {padding-left:23px; text-indent:-23px; line-height:26px; color:#010101;}
.datasearch .txt-pool {margin-top:15px; padding-left:1.1rem; text-indent:-1.1rem; color:#323232;}

.datasearch .h3_wrap .txt-important {position:absolute; right:0; top:18px; font-size:16px; color:#ff002a;}
.datasearch .top-banner {position:relative; display:-webkit-box; display:box; min-height:153px; margin:54px 0 0; background:#f1fafe; border-top:3px solid #daeff9; box-sizing:border-box;}
.datasearch .top-banner:before {position:absolute; left:0; top:-3px; display:block; content:""; width:136px; height:3px; background:#4089c1;}
.datasearch .top-banner:after {position:absolute; left:0; top:0; display:block; content:""; width:3px; height:49px; background:#4089c1;}
.datasearch .top-banner .inner {display:table; margin:0 auto; padding:25px 20px;}
.datasearch .top-banner .inner > * {display:table-cell; vertical-align:middle;}
.datasearch .top-banner .inner .img {padding-right:35px; }
.datasearch .top-banner .inner .txt-bul {padding:0 0 0 40px; border-left:1px solid #bcdae7;}
.datasearch .top-banner .inner .txt-bul > li {font-weight:bold;}
.datasearch .top-banner .inner .txt-bul > li.tit {margin-bottom:8px; padding:0; font-size:20px;}
.datasearch .top-banner .inner .txt-bul > li.tit:before {display:none; }
.datasearch .top-banner.book .inner .img {margin-top:-12px;}
.datasearch .top-banner.service-charter {min-height:auto;}

.datasearch .search-tab {margin:40px 0 0;}
.datasearch .tab-contents{margin:50px 0 0;}

.datasearch .search-area {border-top:2px solid #3e3e3e; border-bottom:1px solid #c6c6c6;}
.datasearch .search-area + .search-area {margin-top:30px;}
.datasearch .tbl-type1.search {border-top:none;margin-bottom:40px;}
.datasearch .tbl-type1.search tr:first-child > * {border-top:none;}
.datasearch .tbl-type1.search td {padding:9px 18px;}
.datasearch .tbl-type1.search td .sel-type5 {width:178px;}
.datasearch .tbl-type1.search td .year {overflow:hidden;}
.datasearch .tbl-type1.search td .year * {float:left; }
.datasearch .tbl-type1.search td .year .sel-type5 {width:112px;}
.datasearch .tbl-type1.search td .year .txt {height:40px; margin:0 4px; line-height:40px;}
.datasearch .search-area .form-list {display:table; width:100%; padding:10px 17px; box-sizing:border-box;}
.datasearch .search-area .form-list * {display:table-cell; box-sizing:border-box;}

.datasearch .search-area .form-list .width1 {width:178px;}
.datasearch .search-area .form-list .width2 {width:215px; padding-left:10px;}
.datasearch .search-area .form-list input[type="text"] {margin-left:10px;}
.datasearch .search-area .raido-choice {}
.datasearch .search-area .raido-choice .tit {padding:16px 0 18px 30px; font-size:16px;}
.datasearch .search-area .raido-choice .ipt-lst {background:#f1f6f8;}
.datasearch .search-area .raido-choice .ipt-lst > li  {width:25%; margin:0; padding:20px 0 20px 30px;  box-sizing:border-box;}

.datasearch .txt-search {margin:53px 0 33px; font-size:20px; text-align:center;}
.datasearch .txt-search .point02 {display:inline-block; position:relative;}
.datasearch .txt-search .point02:before {display:block; content:""; position:absolute; bottom:0; width:100%; height:1px; background:#204fc9;}
.datasearch .tab-search_wrap {}
.datasearch .tab-search_wrap .align {float:right;}
.datasearch .tab-search_wrap .align .sel-type5 {float:left; margin-left:7px; width:140px; }
.datasearch .tab-search_wrap .align .tab-search {float:left; margin-left:18px;}
.datasearch .tab-search_wrap .align .tab-search ul {overflow:hidden; }
.datasearch .tab-search_wrap .align .tab-search ul > li {float:left; }
.datasearch .tab-search_wrap .align .tab-search ul > li a {display:block; width:40px; height:40px;border:1px solid #cbc6c5; text-indent:-9999px;  box-sizing:border-box;}
.datasearch .tab-search_wrap .align .tab-search ul > li.current a {border-color:#3a64cf;}
.datasearch .tab-search_wrap .align .tab-search ul > li.image a {background:url(../images/datasearch/tab-search-01.png) no-repeat center;}
.datasearch .tab-search_wrap .align .tab-search ul > li.image.current a {background:url(../images/datasearch/tab-search-on-01.png) no-repeat center;}
.datasearch .tab-search_wrap .align .tab-search ul > li.list a {background:url(../images/datasearch/tab-search-02.png) no-repeat center;}
.datasearch .tab-search_wrap .align .tab-search ul > li.list.current a {background:url(../images/datasearch/tab-search-on-02.png) no-repeat center;}

.datasearch .tab-search_wrap .tab-search-contents {clear:both; padding-top:18px;}
.datasearch .image-type {}
.datasearch .image-type > li {overflow:hidden; margin-top:10px; padding:16px 25px 16px 32px; border:1px solid #d6d9db;}
.datasearch .image-type > li:first-child {margin-top:0;}
.datasearch .image-type > li .thumb {float:left; width:126px;}
.datasearch .image-type > li .thumb img {width:100%;}
.datasearch .image-type > li .thumb .btn-group li + li {margin-top:4px;}
.datasearch .image-type > li .thumb .ico {display: block;width:100%; height:40px; padding:0 10px; vertical-align:top; box-sizing:border-box; border:1px solid #cbc6c5; color:#cbc6c5; line-height: 38px; text-align:center;}
.datasearch .image-type > li .thumb .ico:before {display: inline-block; width:24px; height:38px; background:url(../images/datasearch/ico-add.png) no-repeat 50% 50%; vertical-align:middle; content:""; margin-right:4px;}
.datasearch .image-type > li .thumb .btn {display: block; width:100%; height:40px; line-height:40px; background:#5b5c5c; text-align:center; font-size:16px; color:#fff; box-sizing:border-box;}
.datasearch .image-type > li .thumb .btn.on {background:#f98c0b;}

.datasearch .image-type > li .info {float:left; width:80%; width:calc(100% - 126px); padding-left:28px; box-sizing:border-box;}
.datasearch .tab-search_wrap .tab-search-contents .image-type > li .info .subject {display:block; margin-bottom:15px; padding-bottom:15px; border-bottom:1px solid #d6d9db; font-size:20px; color:#010101;}
.datasearch .image-type > li .info .subject .tail {display:block; font-size:14px; color:#979797;}
.datasearch .image-type > li .info .loan-list {display:table; width:100%; }
.datasearch .image-type > li .info .loan-list > * {display:table-cell; }
.datasearch .image-type > li .info .loan-list .local {padding:0 0 0 20px; background:#ecf8fe; font-size:16px; color:#204fc9; line-height: 40px;}
.datasearch .image-type > li .info .loan-list .ico {width:40px; height:40px; padding:0 10px; background:url(../images/datasearch/ico-add.png) no-repeat center; vertical-align:top; }
.datasearch .image-type > li .info .loan-list .ico a {display:block; height:100%; text-indent:-9999px;}
.datasearch .image-type > li .info .loan-list .btn {width:114px; height:40px; line-height:40px; background:#5b5c5c; text-align:center; font-size:16px; color:#fff;}
.datasearch .image-type > li .info .loan-list .btn.on {background:#f98c0b;}
.datasearch .image-type > li .info .loan-list .btn a {display:block; height:100%;}
.datasearch .image-type > li .info .list {overflow:hidden; margin:8px 0 0 8px; }
.datasearch .image-type > li .info .list > li {float:left; position:relative; width:50%; padding-left:16px; box-sizing:border-box; font-size:16px; line-height:26px;}
.datasearch .image-type > li .info .list > li:before {display:block; content:""; position:absolute; left:0; top:10px; width:6px; height:6px; background:#4089c1; border-radius:6px;}
.datasearch .image-type > li .info .list > li .txt1 {display:inline-block; width:118px; color:#010101;}
.datasearch .image-type > li .info .list > li .txt2 {color:#676767;}

.datasearch .list-type {}
.datasearch .list-type > li {overflow:hidden; position:relative; margin-top:10px; padding:20px 18px 12px 0; border:1px solid #d6d9db;}
.datasearch .list-type > li:first-child {margin-top:0;}
.datasearch .list-type > li .num {position:relative; float:left; width:78px; height:46px; line-height:46px; font-size:18px; text-align:center;}
.datasearch .list-type > li .num:after {display:block; content:""; position:absolute; right:0; top:0; width:1px; height:100%; background:#d6d9db;}
.datasearch .list-type > li .subject {float:left; margin-left:27px;}
.datasearch .list-type > li .subject a {display:block; margin-bottom:11px; font-size:18px; color:#010101;}
.datasearch .list-type > li .subject .tail {font-size:14px; color:#979797;}
.datasearch .list-type > li .subject .local {display:inline-block; margin:0 0 0 20px; padding:4px 14px; background:#ecf8fe; font-size:14px; color:#204fc9;}
.datasearch .list-type > li .status {float:right; }
.datasearch .list-type > li .status .ico {display:inline-block; width: 40px; height: 40px; padding: 0 10px; background: url(../images/datasearch/ico-add.png) no-repeat center; vertical-align: top; border:1px solid #cac8c9; box-sizing:border-box;}
.datasearch .list-type > li .status .ico a {display: block; height: 100%; text-indent: -9999px;}
.datasearch .list-type > li .status .btn {display:inline-block; width:114px; height:40px; line-height:40px; background:#5b5c5c; font-size:16px; color:#fff; text-align:center;}
.datasearch .list-type > li .status .btn a {display:block;}
.datasearch .list-type > li .status .btn.on {background:#f98c0b;}

.datasearch .list-type.best > li .subject .tail > li {display:inline-block;}
.datasearch .list-type.best > li .subject .tail > li:before {content:"|";margin:0 16px}
.datasearch .list-type.best > li .subject .tail > li:first-child:before {display:none;}
.datasearch .list-type.best > li .status {}
.datasearch .list-type.best > li .status .btn {background:#205272;}

.datasearch .search_view {}
.datasearch .search_view .inner {overflow:hidden; padding:30px 0 0; border-top:2px solid #30809f; border-bottom:1px solid #d8dadb;}
.datasearch .search_view .inner .thumb {float:left; width:160px;}
.datasearch .search_view .inner .thumb img {width:100%;}
.datasearch .search_view .inner .thumb .status {overflow:hidden; margin:10px 0px;}
.datasearch .search_view .inner .thumb .status .ico {display:block; width: 100%; height: 40px; vertical-align: top; border:1px solid #cbc6c5; box-sizing:border-box;}
.datasearch .search_view .inner .thumb .status .ico a {display:block; height:100%;  color:#cbc6c5; text-align:center;}
.datasearch .search_view .inner .thumb .status .ico a:before {display:inline-block; content:""; width:24px; height: 40px; margin-right:4px;  background: url(../images/datasearch/ico-add.png) no-repeat 50% 50%; vertical-align: middle;}
.datasearch .search_view .inner .thumb .status .btn {display:block; width: 100%; height: 40px; margin-top:8px; line-height: 40px; background:#5b5c5c; text-align: center; font-size: 16px; color: #fff;}
.datasearch .search_view .inner .thumb .status .btn.on {background:#f98c0b;}
.datasearch .search_view .inner .info {float:left; width:calc(100% - 160px); padding-left:40px; box-sizing:border-box;}
.datasearch .search_view .inner .info {}
.datasearch .search_view .inner .info .subject {padding:0 0 23px 4px; font-size:20px; font-weight:bold; border-bottom:1px solid #d6d9db;}
.datasearch .search_view .inner .info .subject .tail {display:block; margin-top:3px; font-weight:normal; font-size:16px; color:#979797;}
.datasearch .search_view .inner .info .subject .tail {}
.datasearch .search_view .inner .info .list {}
.datasearch .search_view .inner .info .list > li {position:relative; padding:12px 0 12px 30px; box-sizing: border-box; font-size: 16px; line-height: 26px; border-top:1px dashed #c7c7c7;}
.datasearch .search_view .inner .info .list > li:first-child {border-top:none;}
.datasearch .search_view .inner .info .list > li:before {display: block; content: ""; position: absolute; left: 0; top: 22px; width: 6px; height: 6px; margin:0 15px; background: #4089c1; border-radius: 6px;}

.datasearch .border-box {padding:21px 17px; border:1px solid #d6d9db;}

.datasearch .bg-box {margin:19px 0 13px; padding:14px 15px 12px; text-indent:0; background:#ecf8fe;}
.datasearch .bg-box ul {}
.datasearch .bg-box ul > li {padding-left:10px; line-height:26px; color:#010101;}
.datasearch .bg-box ul > li:before {width:3px; height:3px; border-radius:3px; background:#404040;}

.datasearch .check-area {overflow: hidden; margin-top:40px; padding: 1.2rem 1.6rem; border: 1px solid #d0d0d0; background: #f5f5f5;}
.datasearch .check-area * { float: left; }
.datasearch .check-area p { position: relative; padding: 12px 25px 9px 45px; }
.datasearch .check-area p:before { position: absolute; top: 3px; left: 0; display: inline-block; width: 2.3rem; height: 2.3rem; background: #30809f url(/gbgs_lib/images/mylib/ico-check.png) no-repeat center center; border-radius: 50%; content: ""; }
.datasearch .check-area p:after { position: absolute; top: 0; right: 0; width: 1px; height: 100%; border-right: 1px solid #d0d0d0; content: ""; }
.datasearch .check-area p span { float: none; font-weight: bold; }
.datasearch .check-area .id-check { width: 69%; padding-left: 30px; -webkit-box-sizing: border-box; box-sizing: border-box; }
.datasearch .check-area .id-check label { margin: 12px 16px 0 0; }
.datasearch .check-area .id-check .inp-type1 { width: 33rem; }
.datasearch .check-area + .btn-submit-group .btn-type2.navy { -webkit-box-shadow: 4px 4px #cfcfcf; box-shadow: 4px 4px #cfcfcf; }

.datasearch .form-list {}
.datasearch .form-list > li {position:relative; height:40px; margin-top:6px;}
.datasearch .form-list > li .tit {position:relative; display:block; margin-left:6px; padding-left:11px; line-height:40px;}
.datasearch .form-list > li .tit:before {position:absolute; left:0; top:-2px; display:block; content:"-";}
.datasearch .form-list > li .txt {position:absolute; left:0; top:0; width:100%; padding-left:71px; box-sizing:border-box;}
.datasearch .form-list > li .txt input {width:100%;}

.datasearch .tbl-type3.form { margin-bottom: 3rem; font-weight: bold; }
.datasearch .tbl-type3.form th { background: #ecf8fe; font-weight: bold; color: #575757; text-align: center; }
.datasearch .tbl-type3.form th span { margin: 0; }
.datasearch .tbl-type3.form td { overflow: hidden; }
.datasearch .tbl-type3.form td * { float: left; }
.datasearch .tbl-type3.form td .txt { display: inline-block; height: 40px; margin: 0 10px; line-height: 40px; vertical-align: top; }
.datasearch .tbl-type3.form td .sel-type3 { width: 125px; }
.datasearch .tbl-type3.form td .ipt-datepicker { width: 194px; }
.datasearch .tbl-type3.form td .ipt-datepicker .inp-type2 { width: 100%; }
.datasearch .tbl-type3.form td .btn-type2 { margin-left: 25px; }

.datasearch .year-search {overflow:hidden; padding:25px 0 25px 37px; background:#ecf8fe; border-top:2px solid #3e3e3e;}
.datasearch .year-search .txt-year {float:left; font-size:34px; font-weight:bold; color:#257d92;}
.datasearch .year-search .form {float:right; overflow:hidden;}
.datasearch .year-search .form > * {float:left; margin-left:7px;}
.datasearch .year-search .form .sel-type5 {width:9.5rem;}
.datasearch .year-search .form .sel-type5:first-child {margin-left:0;}
.datasearch .year-search .form .btn {}
.datasearch .year-search .form .btn .btn-type3.blue {border-color: #30809f; background: #30809f; color: #fff;}

.datasearch .best-seller {display:-webkit-box; display:box; width:100%; margin:30px 0 15px; background:#f3fafc; }
.datasearch .best-seller > li {display:-webkit-box; display:box; -webkit-box-orient:vertical; box-orient:vertical; -webkit-box-pack:center; box-pack:center; -webkit-box-flex:1; box-flex:1; width:33.333%; margin:20px 0; text-align:center; box-sizing:border-box; border-left:1px solid #d6d9db;}
.datasearch .best-seller > li:first-child {border-left:none; }
.datasearch .best-seller > li a {display:block; padding:10px;   box-sizing:border-box;}
.datasearch .best-seller > li a .img {position:relative; display:inline-block;}
.datasearch .best-seller > li a .img .num {position:absolute; left:-15px; top:-7px; display:block; width:57px; height:73px; padding:11px 0 0 0; box-sizing:border-box; background:url(../images/datasearch/best-seller-ticket.png) no-repeat; background-size:57px 73px; font-size:26px; color:#fff; font-weight:bold;}
.datasearch .best-seller > li a .img .num em {margin-left:-6px;}
.datasearch .best-seller > li a .img img {width:142px; height:197px;}
.datasearch .best-seller > li a .txt-area {}
.datasearch .best-seller > li a .txt-area .subject {display: inline-block; width:20rem; margin:10px 0 4px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size:18px; font-weight:bold; color:#1d1d1d;}
.datasearch .best-seller > li a .txt-area .writer {font-size:16px; color:#1d1d1d;}


@media (max-width: 1319px) {
	
	.datasearch .tbl-type1.mo td {height:2.5rem; text-align:left; padding:10px 15px; box-sizing:border-box;}
	.datasearch .tbl-type1.mo tr > td .btn-type2 {min-width: 7rem; height:2.5rem; 
    padding: 0 2rem 0.2rem; line-height: 2.5rem;}
	.datasearch .h3 {margin:2rem 0 1rem;}
	.datasearch .sel-type5 select {height: 2.7rem; font-size: 1rem; background-size: auto 100%; padding: 0 2.3rem 0 1rem;}

	.datasearch .top-banner .inner .txt-bul > li,
	.datasearch .donation-process ol > li > *,
	.datasearch .bg-box-list ul > li ,
	.datasearch .txt-bul > li, .use p.txt-bul{line-height:1.4; font-size:1rem; word-break: keep-all}
	.datasearch .bg-txt-list:before {margin-right:3px;}
	.datasearch .tbl-type1 ul.txt-bul {padding:1rem 0 1.5rem 1rem;}
	.datasearch .txt-bul > li:before, .use p.txt-bul:before {top:0.45rem;}
	.datasearch .top-banner .inner .txt-bul > li.tit {margin-bottom:0.3rem; font-size:1.4rem;} 
	
	.datasearch .search-tab {margin-top:1rem;}
	.datasearch .search-tab + .tab-contents {margin-top:1.5rem;}
	.datasearch .search-tab + .tab-contents + .tab-contents {margin-top:1.5rem;}
	.datasearch .search-area + .search-area {margin-top:1.5rem;}
	.datasearch .tbl-type1.search {margin-bottom:1.5rem;}
	.datasearch .search-area .form-list {padding:0.5rem 0.7rem;}
	.datasearch .search-area .form-list .width1 {width:20%; }
	.datasearch .search-area .form-list .width2 {width:25%; padding-left:0.5rem;}
	.datasearch .search-area .form-list input[type="text"] {margin-left:0.5rem;}
	.datasearch .search-area .raido-choice .tit {padding:0.5rem 0.7rem; font-size:1rem;}
	.datasearch .search-area .raido-choice .ipt-lst {padding-bottom:0.5rem;}
	.datasearch .search-area .raido-choice .ipt-lst > li {width:50%; padding:0.5rem 0 0 0.7rem;}

	.datasearch .tbl-type1.search td {height:auto; padding:0.5rem 0.7rem;}
	.datasearch .tbl-type1.search td .sel-type5 {width:100%;}
	.datasearch .tbl-type1.search select {height: 2.7rem; background-size: auto 100%; padding: 0 2.3rem 0 1rem;}
	.datasearch .tbl-type1.search td .year .until {float:none; overflow:hidden; padding-top:0.5rem; clear:both;}
	.datasearch .tbl-type1.search td .year .sel-type5 {width:67%;}
	.datasearch .tbl-type1.search td .year .txt {height: 2.7rem; line-height:2.7rem;}
	.datasearch .txt-search {font-size:1.2rem; margin:2rem 0;}
	.datasearch .tab-search_wrap .align .tab-search ul > li a {width:2.7rem; height:2.7rem; background-size:2.7rem auto;}
	.datasearch .tab-search_wrap .align .sel-type5  {width:9.5rem;}
	.datasearch .tab-search_wrap .align .tab-search {margin-left:7px;}
	.datasearch .tab-search_wrap .align .tab-search ul > li.image a,
	.datasearch .tab-search_wrap .align .tab-search ul > li.image.current a,
	.datasearch .tab-search_wrap .align .tab-search ul > li.list a,
	.datasearch .tab-search_wrap .align .tab-search ul > li.list.current a {background-size:50% auto;}
	.datasearch .tab-search_wrap .tab-search-contents .image-type > li {padding:0.5rem 0.7rem;}
	.datasearch .tab-search_wrap .tab-search-contents .image-type > li .info {position:relative; padding-left:1rem;}
	.datasearch .tab-search_wrap .tab-search-contents .image-type > li .info .subject {margin-bottom:0.5rem; padding:0 6rem 0.5rem 0; font-size:1rem;}
	.datasearch .tab-search_wrap .tab-search-contents .image-type > li .info .subject .tail{font-size:1rem;}
	.datasearch .tab-search_wrap .tab-search-contents .image-type > li .info .loan-list {display:block;}
	.datasearch .tab-search_wrap .tab-search-contents .image-type > li .info .loan-list > * {display:block;}
	.datasearch .tab-search_wrap .tab-search-contents .image-type > li .info .loan-list .local {padding: 0.5rem 0.4rem; font-size:1rem;}
	.datasearch .tab-search_wrap .tab-search-contents .image-type > li .info .loan-list .ico {position:absolute; right:3rem; top:0; width:2.5rem; height:2.5rem; padding:0; background-size:2.5rem auto;}
	.datasearch .tab-search_wrap .tab-search-contents .image-type > li .info .loan-list .btn {position:absolute; right:0; top:0; width:2.5rem; height:2.5rem; padding-top:0.2rem; font-size:1rem; line-height:1.2; box-sizing:border-box;}
	.datasearch .tab-search_wrap .tab-search-contents .image-type > li .info .loan-list .btn.on {font-size:0.9rem;}
	.datasearch .tab-search_wrap .tab-search-contents .image-type > li .info .loan-list .btn.on {font-size:0.9rem;}
	.datasearch .tab-search_wrap .tab-search-contents .image-type > li .info .list {margin-left:0;}
	.datasearch .tab-search_wrap .tab-search-contents .image-type > li .info .list > li {display:table; padding-left:0.5rem; font-size:1rem; }
	.datasearch .tab-search_wrap .tab-search-contents .image-type > li .info .list > li.hide {display:none;}
	.datasearch .tab-search_wrap .tab-search-contents .image-type > li .info .list > li > * {display:table-cell; line-height:1.4;}
	.datasearch .tab-search_wrap .tab-search-contents .image-type > li .info .list > li:before {width: 0.3rem; height: 0.3rem; top:6px; border-radius: 0.3rem;}
	.datasearch .tab-search_wrap .tab-search-contents .image-type > li .info .list > li .txt1 {display:table-cell; width:4rem;}
	.datasearch .tab-search_wrap .tab-search-contents .image-type > li .info .list > li .txt2 {display:table-cell; }

	.datasearch .list-type > li {padding:0.5rem 0.7rem 0.5rem 0}
	.datasearch .list-type > li .num {width:2.5rem; height:6rem; line-height:6rem; font-size:1rem;}
	.datasearch .list-type > li .subject {width:70%; margin:0.5rem;}
	.datasearch .list-type > li .subject a {margin-bottom:0.2rem; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; width:100%; overflow:hidden;font-size:1rem;}
	.datasearch .list-type > li .subject .tail {display:block; font-size:1rem;}
	.datasearch .list-type > li .subject .local {margin:0.5rem 0 0 ; padding: 0.5rem 0.4rem; font-size:1rem;}
	.datasearch .list-type > li .status .ico {position: absolute; right: 3.5rem; top: 0.7rem; width: 2.5rem; height: 2.5rem; padding: 0; background-size: 70% auto;}
	.datasearch .list-type > li .status .btn {position: absolute; right: 0.5rem; top: 0.7rem; width: 2.5rem; height: 2.5rem; padding-top: 0.2rem; font-size: 1rem; line-height: 1.2; box-sizing: border-box;}
	.datasearch .list-type > li .status .btn.on {font-size:0.9rem;}

	.datasearch .list-type.best > li .subject {width:57%}
	.datasearch .list-type.best > li .subject a {margin-bottom:10px;}
	.datasearch .list-type.best > li .num {width:3.5rem;}
	.datasearch .list-type.best > li .tail {}
	.datasearch .list-type.best > li .tail > li {position:relative; padding-left:0.5rem;}
	.datasearch .list-type.best > li .tail > li:before {display:none;}
	.datasearch .list-type.best > li .tail > li:after {display: block; content: ""; position: absolute; left: 0; top: 6px; width: 0.3rem; height: 0.3rem; background: #4089c1; border-radius: 0.3rem;}
	.datasearch .list-type.best > li .status .btn {width:7rem; line-height:2rem;}

	.datasearch .search_view .inner .thumb .status .ico {height: 3rem; line-height: 2.8rem; }
	.datasearch .search_view .inner .thumb .status .ico a:before {width:1.5rem; height:2.8rem; background-size:100% auto; vertical-align: top}
	.datasearch .search_view .inner .thumb .status .btn {height:3rem; line-height: 3rem}
	.datasearch .search_view .inner .thumb .status .btn.on {font-size:1rem}
	.datasearch .search_view .inner .info {padding-left:1.5rem;}
	.datasearch .search_view .inner .info .subject {padding-bottom:1rem; font-size:1.1rem;}
	.datasearch .search_view .inner .info .subject .tail {font-size:1rem;}
	.datasearch .search_view .inner .info .list > li {padding:0.5rem 0 0.5rem 1rem; font-size:1rem;}
	.datasearch .search_view .inner .info .list > li:before {width: 0.3rem; height: 0.3rem; top: 16px; margin:0 0.3rem; border-radius: 0.3rem;}
	.datasearch .tbl-type1 tr > td {font-size:1rem;}

	.datasearch .bg-box ul > li ,
	.datasearch .txt-bul > li, .use p.txt-bul{line-height:1.4; font-size:1rem; word-break: keep-all}
	.datasearch .bg-box ul > li:before {width:0.2rem; height:0.2rem; border-radius:0.2rem;}
	
	.datasearch .check-area {margin-top:2rem; }
	.datasearch .check-area * {float:none;}
	.datasearch .check-area p {padding:0.7rem 0 0.7rem 3rem; font-size:1rem;}
	.datasearch .check-area p:before {top:3px;}
	.datasearch .check-area p:after {display:none;}
 	.datasearch .check-area .id-check {display:table; float:none; margin-top:0.5rem; width:100%; padding:0;}
	.datasearch .check-area .id-check label {display:table-cell; width:7rem; height:2rem; margin:0; line-height:2rem; font-size:1rem;} 
	.datasearch .check-area .id-check input[type="text"] {display:table-cell; width:100%; }
	.datasearch .tbl-type3 .form--call + .ipt-lst {display:block; margin:0.5rem 0 0 0;}
	.datasearch .tbl-type3 .ipt-lst li {width:50%; margin:0 !important;}
	.datasearch .form-list > li .txt {padding-left:4.5rem;}
	
	.datasearch .year-search {padding:1rem 1.5rem;}
	.datasearch .year-search .txt-year {float:none; font-size:1.8rem;}
	.datasearch .year-search .form {float:none; margin-top:0.5rem;} 

	.datasearch .best-seller {margin-top:1.5rem;}
	.datasearch .best-seller > li {margin:0.5rem 0;}
	.datasearch .best-seller > li a {padding:0.5rem;}
	.datasearch .best-seller > li a .img .num {width: 2rem; height:3.5rem; background-size:2rem 3.5rem; left: -0.2rem; padding-top:0.5rem; font-size: 1rem;}
	.datasearch .best-seller > li a .img img {width:100%; height:auto;}
	.datasearch .best-seller > li a .txt-area .subject {width:auto; white-space: inherit; overflow: auto; text-overflow: inherit;font-size:1rem; word-break: keep-all;}
	.datasearch .best-seller > li a .txt-area .writer {font-size:1rem;}

	.datasearch .bg-box {margin:1rem 0;}
}
@media (max-width: 1273px) {
}
@media (max-width: 1024px) {
	.datasearch .tbl-type3.form td .form01 { float: none; }
	.datasearch .tbl-type3.form td .form02 { float: none; }
	.datasearch .tbl-type3.form td .form02 .btn-type2 { float: none; }
	.datasearch .tbl-type3.form td .form02 .ipt-datepicker { width: 12rem; }
	.datasearch .tbl-type3.form td .form02 .btn-type2 { margin-left: 1rem; }
	.datasearch .tbl-type3.form td .txt { height: 3rem; line-height: 3rem; margin: 0 5px; }

	.datasearch .image-type > li .thumb {width:20%;}
	.datasearch .image-type > li .info {width:80%;}
}
@media (max-width: 768px) {
	.datasearch .tbl-type1.pc {display:none; }
	.datasearch .tbl-type1.mo {display:table; }
	.datasearch .tbl-type1 .pc {display:none;}
	.datasearch .search-area .form-list .width1 {width:20%; min-width:62px;}
	.datasearch .search-area .form-list .width2 {width:25%; min-width:87px}
	.datasearch .tbl-type1.search > *,
	.datasearch .tbl-type1.search select {font-size:1rem;}
	.datasearch .search-area .form-list select {height:2.7rem; font-size:1rem; background-size: auto 100%; padding: 0 2.3rem 0 1rem;}
	.datasearch .form-list > li {height:2.7rem;}
	.datasearch .form-list > li .tit {height:2.7rem; line-height:2.7rem; margin:0; padding-left:0.7rem;}
	.datasearch .tbl-type3.form .form02 .ipt-datepicker { width: 8rem !important; }
	
	.datasearch .search_view .inner .thumb {width:35%;}
	.datasearch .search_view .inner .info {width:65%;}

	.datasearch .year-search .form .sel-type5 {width:100%; margin:0.5rem 0 0 ; }
	.datasearch .year-search .form .sel-type5:first-child {margin:0;}
	.datasearch .year-search .form .btn {width:100%; margin:0.5rem 0 0;}
	.datasearch .year-search .form .btn .btn-type3 {min-width:100%;}
	.datasearch .check-area p:before {background-size:1rem;}

	.datasearch .image-type > li {position: relative;}
	.datasearch .image-type > li .thumb .btn-group {position: absolute; top:0.5rem; right:0.7rem;}
	.datasearch .image-type > li .thumb .btn-group:after {display:block; clear:both; content:""}
	.datasearch .image-type > li .thumb .btn-group > li {float:left; vertical-align: top;}
	.datasearch .image-type > li .thumb .btn-group > li + li {margin:0 0 0 0.5rem;}
	.datasearch .image-type > li .thumb .btn {width:2.5rem; height:2.5rem; font-size:0.9rem; line-height: 1.4}
	.datasearch .image-type > li .thumb .ico {position:relative; width:2.5rem; height:2.5rem; text-indent:-9999em;}
	.datasearch .image-type > li .thumb .ico:before {position:absolute; top:0; left:0; width:100%; height:100%; background-size:70% auto;}


}
@media (max-width: 360px) {
	.datasearch .tab-search_wrap .tab-search-contents .image-type > li .info .loan-list .btn {padding-top:0.1rem;}

}

