.mylib .ui--searchzone { margin-bottom: 45px; }

.mylib .tbl-type2 .link:hover a { color: #333; text-decoration: underline; }

.mylib .tbl-type2 .state span { display: inline-block; min-width: 100px; height: 40px; padding: 8px 0 14px; text-align: center; color: #fff; -webkit-box-sizing: border-box; box-sizing: border-box; }

.mylib .tbl-type2 .state.ok span { background: #f98c0b; }

.mylib .tbl-type2 .state.not span { background: #5b5c5c; }

.mylib .tab-zone { margin-bottom: 30px; }

@media (max-width: 768px) { .mylib .ui--searchzone { margin-bottom: 23px; }
  .mylib .tbl-type2 .mobile01 { width: 20% !important; }
  .mylib .tbl-type2 .mobile02 { width: 16% !important; }
  .mylib .tbl-type2 .mobile03 { width: 24% !important; }
  .mylib .tbl-type2 .state span { min-width: 50px; height: 20px; padding: 3px 0 7px; } }
