@charset "UTF-8";
/* FONTS */
@font-face { font-family: "NanumGothic-Regular"; font-weight: normal; src: url("../fonts/NanumGothic-Regular.eot"); src: url("../fonts/NanumGothic-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NanumGothic-Regular.woff") format("woff"), url("../fonts/NanumGothic-Regular.ttf") format("truetype"); }

@font-face { font-family: "NanumGothic-ExtraBold"; font-weight: normal; src: url("../fonts/NanumGothic-ExtraBold.eot"); src: url("../fonts/NanumGothic-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/NanumGothic-ExtraBold.woff") format("woff"), url("../fonts/NanumGothic-ExtraBold.ttf") format("truetype"); }

@font-face { font-family: "NanumGothic-Bold"; font-weight: normal; src: url("../fonts/NanumGothic-Bold.eot"); src: url("../fonts/NanumGothic-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NanumGothic-Bold.woff") format("woff"), url("../fonts/NanumGothic-Bold.ttf") format("truetype"); }

@font-face { font-family: 'Nanum Square R'; font-style: normal; src: url("../fonts/NanumSquareR.eot"); src: local("Nanum Square Regular"), local("NanumSquareR"), url("../fonts/NanumSquareR.eot?#iefix") format("embedded-opentype"), url("../fonts/NanumSquareR.woff2") format("woff2"), url("../fonts/NanumSquareR.woff") format("woff"), url("../fonts/NanumSquareR.ttf") format("truetype"); }

@font-face { font-family: 'Nanum Square B'; font-style: bold; src: url("../fonts/NanumSquareB.eot"); src: local("Nanum Square Bold"), local("NanumSquareB"), url("../fonts/NanumSquareB.eot?#iefix") format("embedded-opentype"), url("../fonts/NanumSquareB.woff2") format("woff2"), url("../fonts/NanumSquareB.woff") format("woff"), url("../fonts/NanumSquareB.ttf") format("truetype"); }

html { font-family: "맑은고딕", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; color: #222; -webkit-text-size-adjust: none; font-size: 15px; letter-spacing: -0.25px; -webkit-overflow-scrolling: touch; }

html body.ios { font-family: Helvetica Neue, "Apple SD Gothic Neo"; }

html, body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, span, form, fieldset, input, select, label, textarea, table, caption, thead, tfoot, tbody, tr, th, td { margin: 0; padding: 0; -webkit-text-size-adjust: none; }

address { font-stretch: normal; }

b, span, strong, input, a, button { font-size: inherit; font-family: inherit; color: inherit; line-height: inherit; }

article, aside, dialog, footer, header, section, footer, nav, figure, hgroup, details, summary, figure, figcaption { display: block; }

cite { display: inline; }

html, body { height: 100%; }

html { -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none; }

body { overflow-y: scroll; margin: 0px; background-attachment: fixed; }

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

img { border: 0; max-width: 100%; }

label, input, textarea, select { vertical-align: middle; border: 0; border-radius: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #b0b0b0; }

input::-moz-placeholder, textarea::-moz-placeholder { color: #b0b0b0; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #b0b0b0; }

input:-moz-placeholder, textarea:-moz-placeholder { color: #b0b0b0; }

label, input, textarea { -webkit-appearance: none; -webkit-border-radius: 0; }

ol, ul { list-style: none; }

table { border-collapse: collapse; table-layout: fixed; width: 100%; }

fieldset { border: none; }

hr, legend { position: absolute; left: -1000%; width: 1px; height: 1px; font-size: 0; line-height: 0; overflow: hidden; }

caption { font-size: 0; height: 0; opacity: 0; }

button { margin: 0; padding: 0; border: none; background: none; cursor: pointer; display: inline-block; }

em, address { font-style: normal; }

select { -webkit-appearance: none; -moz-appearance: none; appearance: none; }

select::-ms-expand { display: none; }

/* COMMON */
#skipnavi a { display: block; position: absolute; top: 0px; left: -102px; width: 100px; height: 40px; padding: 0; border: 1px solid #dcdcdc; color: #555; font-size: 15px; background: #fff; text-align: center; line-height: 40px; font-weight: 700; z-index: 10000; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }

#skipnavi a:focus { top: 0; left: 0; }

.hidden { position: absolute; overflow: hidden; top: 0; left: 0; width: 1px; height: 1px; text-indent: -99999em; }

#wrap { min-width: 320px; }

/* MEDIA */
@media (min-width: 601px) { html { font-size: 15px; } }

@media (max-width: 600px) { html { font-size: 13px; } }

@media (max-width: 430px) { html { font-size: 11px; } }

@media (max-width: 375px) { html { font-size: 10px; } }

.openboard .faq { border-top: 2px solid #30809f; }

.openboard .faq li { border-bottom: 1px solid #ddd; }

.openboard .faq li p:before { display: inline-block; width: 3rem; height: 3rem; color: #fff; font-size: 16px; line-height: 3rem; text-align: center; font-weight: bold; border-radius: 5px; }

.openboard .faq li .que-area { position: relative; padding: 15px 0; }

.openboard .faq li .que-area p { overflow: hidden; display: inline-block; width: 66%; text-overflow: ellipsis; white-space: nowrap; color: #525252; }

.openboard .faq li .que-area p:before { margin-right: 2rem; background: #1e6bca; content: "Q"; }

.openboard .faq li .que-area p:hover a { text-decoration: underline; }

.openboard .faq li .que-area button { position: absolute; top: 15px; right: 2.3rem; padding: 6px 0 8px; font-size: 16px; color: #a1b5cd; border: 1px solid #a1b5cd; }

.openboard .faq li .que-area button span { display: inline-block; padding: 0 41px 0 13px; background: url(/gbgs_lib/images/openboard/ico-arrow-off.png) no-repeat 53px center; }

.openboard .faq li .ans-area { padding: 3.2rem 1rem 3.2rem 7%; border-top: 1px solid #ddd; }

.openboard .faq li .ans-area p { position: relative; display: inline-block; margin-left: 0.5rem; padding-left: 5rem; color: #f15323; text-decoration: underline; }

.openboard .faq li .ans-area p:before { position: absolute; top: 0; left: 0; background: #f15323; content: "A"; }

.openboard .faq li.on .que-area p { color: #1e6bca; text-decoration: underline; }

.openboard .faq li.on button { border: 1px solid #a1b5cd; }

.openboard .faq li.on button span { background: url(/gbgs_lib/images/openboard/ico-arrow-on.png) no-repeat 53px center; }

.openboard .index { display: inline-block; width: 7%; text-align: center; vertical-align: 10px; }

.openboard .ans-area { display: none; }

.openboard .top-banner { position: relative; display: box; min-height: 153px; margin: 54px 0 3rem 0; background: #f1fafe; border-top: 3px solid #daeff9; -webkit-box-sizing: border-box; box-sizing: border-box; }

.openboard .top-banner:before { position: absolute; top: -3px; left: 0; display: block; width: 136px; height: 3px; background: #4089c1; content: ""; }

.openboard .top-banner:after { position: absolute; top: 0; left: 0; display: block; width: 3px; height: 49px; background: #4089c1; content: ""; }

.openboard .top-banner .inner { display: table; margin: 0 auto; padding: 25px 50px; }

.openboard .top-banner .inner > * { display: table-cell; vertical-align: middle; }

.openboard .top-banner .inner .img { padding-right: 35px; }

.openboard .top-banner .inner p { padding: 0 0 0 40px; border-left: 1px solid #bcdae7; word-break: break-all; line-height: 26px; }

.openboard .top-banner .inner .txt-dotted2 { padding: 0 0 0 40px; border-left: 1px solid #bcdae7; }

.openboard .top-banner .inner .txt-dotted2 li { line-height: 26px; }

.openboard .top-banner .inner .txt-dotted2 li:before { top: 10px; background: #4089c1; }

.openboard .h3 { margin-bottom: 1.6rem; }

.openboard .h4 { margin-bottom: 2.5rem; }

.openboard .txt-important { color: #2a5caa; }

.openboard .btn-type2.navy { -webkit-box-shadow: 4px 4px #cfcfcf; box-shadow: 4px 4px #cfcfcf; }

.openboard .calendar-zone { margin-bottom: 60px; padding-top: 24px; text-align: center; border-top: 2px solid #30809f; }

.openboard .calendar-zone .month { font-size: 34px; font-weight: bold; color: #257d92; }

.openboard .calendar-zone .indicator { position: relative; width: 30%; margin: 0 auto 23px; }

.openboard .calendar-zone .arrow { overflow: hidden; position: absolute; top: 8px; display: inline-block; width: 28px; height: 28px; text-indent: -999em; border-right: 2px #257d92 solid; border-bottom: 2px #257d92 solid; }

.openboard .calendar-zone .arrow.prev { right: 0; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

.openboard .calendar-zone .arrow.next { left: 0; -webkit-transform: rotate(-225deg); transform: rotate(-225deg); }

.openboard .calendar-zone .info { margin: -20px 0 12px 0; font-size: 14px; text-align: right; font-family: "Nanum Square R", "NanumGothic-Regular", "맑은고딕", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; }

.openboard .calendar-zone .info span { display: inline-block; margin-right: 5px; padding: 5px 12px 6px 12px; background: #f2ad09; border-radius: 30px; color: #fff; }

.openboard .calendar-zone .tbl-calendar { border-top: 1px solid #d6d9db; border-bottom: 1px solid #d6d9db; font-family: "Nanum Square R", "NanumGothic-Regular", "맑은고딕", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; }

.openboard .calendar-zone .tbl-calendar th { height: 60px; background: #ecf8fe; border-left: 1px solid #d6d9db; font-family: "Nanum Square R", "NanumGothic-Regular", "맑은고딕", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; font-weight: normal; }

.openboard .calendar-zone .tbl-calendar th:first-child { border-left: 0 none; color: #f40723; }

.openboard .calendar-zone .tbl-calendar th:last-child { color: #1277cd; }

.openboard .calendar-zone .tbl-calendar td { height: 60px; padding: 12px 0 0 12px; position: relative; text-align: left; vertical-align: top; border-top: 1px solid #d6d9db; border-left: 1px solid #d6d9db; }

.openboard .calendar-zone .tbl-calendar td:first-child { border-left: 0 none; color: #f40723; }

.openboard .calendar-zone .tbl-calendar td:last-child { color: #1277cd; }

.openboard .calendar-zone .tbl-calendar td .btn-app { position: absolute; top: 7px; left: 35px; display: inline-block; padding: 5px 12px 6px 12px; background: #f2ad09; border-radius: 30px; color: #fff; }

.openboard .calendar-zone .tbl-calendar td .holiday { padding-left: 5px; color: #aeaeae; font-size: 14px; }

.openboard .tbl-top-zone { overflow: hidden; margin-bottom: 12px; }

.openboard .tbl-top-zone h3 { float: left; font-size: 20px; font-weight: normal; }

.openboard .tbl-top-zone .tbl-top { float: right; margin-bottom: 0; padding-top: 5px; }

.openboard .form--date { display: inline-block; }

.openboard .form--date > * { display: inline-block; }

.openboard .form--date .sel-type3.year { width: 82px; }

.openboard .form--date .sel-type3.mon { width: 63px; }

.openboard .time-area { display: inline-block; }

.openboard .form--time { display: inline-block; margin-left: 5px; }

.openboard .form--time .sel-type3 { width: 57px; }

.openboard .form--time > * { display: inline-block; }

.openboard .form--time > span { font-family: "Nanum Square R", "NanumGothic-Regular", "맑은고딕", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; }

.openboard .ui--searchzone { margin-bottom: 28px; }

.openboard .tbl-type2 td:last-child, .openboard .tbl-type2 th:last-child { padding-right: 14px; }

.openboard .tbl-type2 .btn-view { position: relative; display: inline-block; width: 100%; height: 35px; max-width: 8rem; padding-left: 13px; line-height: 33px; text-align: left; -webkit-box-sizing: border-box; box-sizing: border-box; }

.openboard .tbl-type2 .btn-view:after { position: absolute; top: 11px; right: 14px; display: inline-block; width: 12px; height: 12px; }

.openboard .tbl-type2 .btn-view.on { border: 1px solid #006ebd; color: #006ebd; }

.openboard .tbl-type2 .btn-view.on:after { border: 1px solid #024f89; border-width: 1px 1px 0 0; -webkit-transform: rotate(45deg); transform: rotate(45deg); content: ""; }

.openboard .tbl-type2 .btn-view.off { border: 1px solid #888; color: #888; }

.openboard .tbl-type2 .btn-view.off:after { border: 1px solid #444; border-width: 1px 1px 0 0; -webkit-transform: rotate(45deg); transform: rotate(45deg); content: ""; }

@media (max-width: 1319px) { .openboard .top-banner { margin-top: 2.5rem; }
  .openboard .top-banner .inner .img { text-align: center; }
  .openboard .top-banner .inner p, .openboard .top-banner .inner .txt-dotted2 li { line-height: 1.4; font-size: 1rem; word-break: keep-all; }
  .openboard .top-banner .inner .txt-dotted2 li { padding-left: 14px; letter-spacing: 0; }
  .openboard .top-banner .inner .txt-dotted2 li:before { top: 0.45rem; width: 5px; height: 5px; } }

@media (max-width: 1024px) { .openboard .top-banner .inner { padding: 25px 20px; }
  .openboard .top-banner .inner .img { padding-right: 1rem; }
  .openboard .top-banner .inner p, .openboard .top-banner .inner .txt-dotted2 { padding-left: 1rem; }
  .openboard .calendar-zone { margin-bottom: 30px; padding-top: 1.5rem; }
  .openboard .calendar-zone .month { font-size: 1.8rem; }
  .openboard .calendar-zone .arrow { top: 4px; width: 1.8rem; height: 1.8rem; }
  .openboard .calendar-zone .info { margin: -10px 0 5px 0; font-size: 1.2rem; }
  .openboard .calendar-zone .info span { margin-right: 3px; padding: 3px 6px 3px 6px; }
  .openboard .calendar-zone .tbl-calendar td { padding: 6px 0 0 6px; }
  .openboard .calendar-zone .tbl-calendar td .btn-app { top: auto; bottom: 10px; left: 1px; padding: 3px 6px 3px 6px; }
  .openboard .calendar-zone .tbl-calendar td .holiday { display: block; overflow: hidden; width: 100%; text-overflow: ellipsis; white-space: nowrap; padding: 0; font-size: 1rem; }
  .openboard .tbl-top-zone { margin-bottom: 6px; }
  .openboard .tbl-top-zone h3 { font-size: 1.5rem; }
  .openboard .tbl-top-zone .tbl-top { padding-top: 8px; }
  .openboard .form--date { margin-bottom: 5px; }
  .openboard .form--date .sel-type3.year { width: 82px; }
  .openboard .form--date .sel-type3.mon { width: 63px; }
  .openboard .time-area { display: block; }
  .openboard .form--time { margin-left: 0; }
  .openboard .form--time .sel-type3 { width: 57px; }
  .openboard .form--time > * { display: inline-block; }
  .openboard .form--time > span { font-family: "Nanum Square R", "NanumGothic-Regular", "맑은고딕", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; } }

@media (max-width: 768px) { .openboard .faq li { font-size: 1rem; line-height: 2rem; }
  .openboard .faq li .que-area p { font-size: 1.1rem; }
  .openboard .faq li .que-area p:before { margin-right: 1rem; }
  .openboard .faq li .que-area button { right: 1rem; padding: 3px 0 4px; font-size: 1.1rem; color: #a1b5cd; }
  .openboard .faq li .que-area button span { padding: 0 2rem 0 0.6rem; background: url(/gbgs_lib/images/openboard/ico-arrow-off.png) no-repeat 3rem center; background-size: 20% auto; }
  .openboard .faq li .ans-area { padding: 1.5rem 1rem 2rem 0; }
  .openboard .faq li .ans-area p { margin: 0; padding-left: 4rem; font-size: 1.1rem; }
  .openboard .faq li.on button span { background: url(/gbgs_lib/images/openboard/ico-arrow-on.png) no-repeat 3rem center; background-size: 20% auto; }
  .openboard .index { display: none; }
  .openboard .time-area .form--time:nth-of-type(1) { margin-bottom: 5px; }
  .openboard .tbl-type2 td:last-child { padding-right: 0; }
  .openboard .tbl-type2 .mobile { width: 22% !important; }
  .openboard .tbl-type2 .btn-view { height: 25px; padding-left: 7px; line-height: 24px; font-size: 1.1rem; }
  .openboard .tbl-type2 .btn-view:after { top: 7px; right: 7px; width: 8px; height: 8px; } }

@media (max-width: 500px) { .openboard .faq li { font-size: 1.2rem; line-height: 2.1rem; } }

@media (max-width: 350px) { .openboard .calendar-zone .tbl-calendar td .btn-app { right: 2px; padding: 3px 9px 3px 9px; }
  .openboard .form--date .sel-type3.year { width: 78px; } }
