.openboard .faq { border-top: 2px solid #30809f; }

.openboard .faq li { border-bottom: 1px solid #ddd; }

.openboard .faq li p:before { display: inline-block; width: 3rem; height: 3rem; color: #fff; font-size: 16px; line-height: 3rem; text-align: center; font-weight: bold; border-radius: 5px; }

.openboard .faq li .que-area { padding: 15px 0; }

.openboard .faq li .que-area p { display: inline-block; color: #525252; }

.openboard .faq li .que-area p:before { margin-right: 2rem; background: #1e6bca; content: "Q"; }

.openboard .faq li .que-area p:hover a { text-decoration: underline; }

.openboard .faq li .ans-area { padding: 3.2rem 1rem 3.2rem 7%; border-top: 1px solid #ddd; }

.openboard .faq li .ans-area p { position: relative; display: inline-block; margin-left: 0.5rem; padding-left: 5rem; color: #f15323; text-decoration: underline; }

.openboard .faq li .ans-area p:before { position: absolute; top: 0; left: 0; background: #f15323; content: "A"; }

.openboard .faq li.on .que-area p { color: #1e6bca; text-decoration: underline; }

.openboard .index { display: inline-block; width: 7%; text-align: center; }

.openboard .ans-area { display: none; }

@media (max-width: 768px) { .openboard .faq li { font-size: 1rem; line-height: 2rem; }
  .openboard .faq li .que-area p:before { margin-right: 1rem; }
  .openboard .faq li .ans-area p { padding-left: 4rem; } }

@media (max-width: 500px) { .openboard .faq li { font-size: 1.2rem; line-height: 2.1rem; } }
