@charset "utf-8";

.gallery-info {display:box; display:-webkit-box; height:526px; margin-top:54px; border-bottom:1px solid #d8dadb;}
.gallery-info:after {display:block; content:""; clear:both;}
.gallery-info .tab-info {display:-webkit-box; display:box; -webkit-box-orient:vertical; box-orient:vertical; box-pack:center; -webkit-box-flex:1; box-flex:1; width:330px; height:100%; padding:0 20px 0 20px; background:url(/gbgs_lib/images/use/bg-gallery-info.png) repeat;}
.gallery-info .tab-info .tit {margin-top:26px; font-size:26px; font-weight:bold;}
.gallery-info .tab-info .tit .tail {display:block;}
.gallery-info .tab-info .tab {}
.gallery-info .tab-info .tab > li {}
.gallery-info .tab-info .tab > li:first-child a {border-top:none;}
.gallery-info .tab-info .tab > li a {display:block; padding:10px 0 10px 12px; border-top:1px solid #d8dadb; box-sizing: border-box; font-size:18px;}
.gallery-info .tab-info .tab > li.on a {padding:9px 0 8px 10px; border:2px solid #2a5caa;}
.gallery-info .tab-info .tab > li:first-child.on a {padding-top:8px;}
.gallery-info .tab-con {display:-webkit-box; display:box; -webkit-box-orient:vertical; box-orient:vertical; box-pack:center; -webkit-box-flex:1; box-flex:1; width:657px;}
.gallery-info .tab-con .tab-contents {position:relative; display:none;}
.gallery-info .tab-con .tab-contents.on {display:block;}
.gallery-info .tab-con .tab-contents .tit {width:63%; height:50px; position:absolute; right:0; top:0; padding:13px 0 0 71px; box-sizing: border-box; background:rgba(0, 0, 0, 0.5); z-index:2; color:#fff;}
.gallery-info .tab-con .slider.room:before {display:block; content:""; width:114px; height:50px; position:absolute; right:0; top:0; background:rgba(0, 0, 0, 0.5); z-index:1;}
.gallery-info .tab-con .slider.room .inner {position:relative;}
.gallery-info .tab-con .slider.room .img {}
.gallery-info .tab-con .slider.room .img img {width:100%;}
.gallery-info .tab-con .slider.room .info {}
.gallery-info .tab-con .slider.room .info .tit {position:absolute; left:334px; top:0; color:#fff; z-index:10;}
.gallery-info .tab-con .slider.room .info .txt {margin:30px 0 0; font-size:16px; text-align:center; color:#010101;}
.gallery-info .tab-con .slider.room .info .txt span {}
.gallery-info .tab-con .slider.room .slick-arrow {position:absolute; width:30px; height:35px; text-indent:-9999px; z-index:100;}
.gallery-info .tab-con .slider.room .slick-prev {right:75px; top:6px; background:url(../images/use/slick-arrow.png) no-repeat 8px 5px;}
.gallery-info .tab-con .slider.room .slick-next {right:8px; top:6px; background:url(../images/use/slick-arrow.png) no-repeat -60px 5px;}
.gallery-info .tab-con .slider.room .custom-paging {position:absolute; right:46px; top:13px; z-index:2;}
.gallery-info .tab-con .slider.room .custom-paging > li {display:none; color:#fff; font-size:15px;}
.gallery-info .tab-con .slider.room .custom-paging > li.slick-active {display:inline-block;}

.use .h3_wrap {position:relative; }
.use .h3 {margin:50px 0 24px;}
.use .h4 {margin:45px 0 10px;}
.use .h3_wrap .txt-important {position:absolute; right:0; top:18px; font-size:16px; color:#ff002a;}
.use .top-banner {position:relative; display:-webkit-box; display:box; min-height:153px; margin:54px 0 0; background:#f1fafe; border-top:3px solid #daeff9; box-sizing:border-box;}
.use .top-banner:before {position:absolute; left:0; top:-3px; display:block; content:""; width:136px; height:3px; background:#4089c1;}
.use .top-banner:after {position:absolute; left:0; top:0; display:block; content:""; width:3px; height:49px; background:#4089c1;}
.use .top-banner .inner {display:table; margin:0 auto; padding:25px 20px;}
.use .top-banner .inner > * {display:table-cell; vertical-align:middle;}
.use .top-banner .inner .img {padding-right:35px; }
.use .top-banner .inner .txt-bul {padding:0 0 0 40px; border-left:1px solid #bcdae7;}
.use .top-banner .inner .txt-bul > li {font-weight:bold;}
.use .top-banner.book .inner .img {margin-top:-12px;}
.use .top-banner.service-charter {min-height:auto;}

.use .txt-important:before {top:0;}
.use .tbl-type1 {margin-top:24px;}
.use .tbl-type1 ul.txt-bul {padding:15px 0 20px 22px;}
.use .tbl-type1 p.txt-bul {margin-left:22px;}

/*bullet*/
.use .txt-bul {text-align:left;}
.use .txt-bul > li,
.use p.txt-bul {position:relative; padding-left:14px;line-height:26px;}
.use .txt-bul > li:before,
.use p.txt-bul:before {display:block; content:""; position:absolute; left:0; top:10px; width:5px; height:5px; border-radius:2px; background:#4089c1;}
.use .bg-txt-list {margin-top:10px; padding:10px 20px 9px; background:#ecf8fe; font-size:16px; line-height:26px; color:#383838;}
.use .bg-txt-list:before {content:"-"; margin-right:5px; color:#2a5caa;}
.use .list-dash {text-align: left; }
.use .list-dash > li {position: relative; padding-left: 10px; }
.use .list-dash > li:after {position: absolute; top: 0; left: 0; content: "-"; }
.use .list-num {}
.use .list-num > li {margin-top:4px;text-indent:-16px; padding-left:16px;}
.use .bg-box-list {margin:19px 0 13px; padding:14px 15px 12px; text-indent:0; background:#f1fafe;}
.use .bg-box-list ul {}
.use .bg-box-list ul > li {padding-left:23px; text-indent:-23px; line-height:26px; color:#010101;}

.use .list-notes {padding:0 0 30px; background:url(../images/use/bg-list-notes.png) no-repeat right top;}
.use .list-notes ul {margin-top:20px;}
.use .list-notes ul > li {font-size:16px; line-height:40px;}
.use .list-notes ul > li .num {display:inline-block; margin-right:16px; color:#2a5caa; font-style: italic;}

.use .donation-process {margin:27px 0 0 30px; border-left:1px solid #58b0e3;}
.use .donation-process ol { }
.use .donation-process ol > li {position:relative; display:table; min-height:60px; margin-top:20px; padding-left:45px; line-height:24px;}
.use .donation-process ol > li:first-child {margin-top:0;}
.use .donation-process ol > li > * {display:table-cell; vertical-align:middle;}
.use .donation-process ol > li:after {display:block; content:""; clear:both;}
.use .donation-process ol > li .num {position:absolute; left:-30px; width:46px; height:46px; background:#30809f; font-size:21px; color:#fff; font-weight:bold; border-radius:46px; text-align:center; line-height:46px; border:7px solid #c9e3ef;}

.use .service-area {position:relative; margin-top:30px;}
.use .service-area:before {display:block; content:""; height:55px; background:url(../images/use/service-area-t.png) no-repeat; background-size:cover;}
.use .service-area:after {display:block; content:""; height:55px; background:url(../images/use/service-area-b.png) no-repeat; background-size:cover;}
.use .service-area .inner  {background:url(../images/use/service-area-m.png) repeat-y; background-size:contain;}
.use .service-area .tit {font-size:26px; text-align:center; color:#000; line-height:1; font-weight:normal;}
.use .service-area .tit .tail {display:block; margin-top:12px; font-size:14px; color:#8aa9be; letter-spacing:6px;}
.use .service-area .list {margin-top:50px; text-align:center;}
.use .service-area .list ul {display:inline-block; text-align:left; }
.use .service-area .list ul > li {display:table; margin-top:12px; font-size:16px; color:#010101; line-height:26px; letter-spacing:-1px; font-weight:bold;}
.use .service-area .list ul > li:first-child {margin-top:0;}
.use .service-area .list ul > li > * {display:table-cell;}
.use .service-area .list ul > li .num {padding-right:15px; font-size:20px; color:#8aa9be;}

/*수련아 옮길부분이야*/
.introduce .map-area { text-align: center; }
.introduce .map-area .img-txt { margin-bottom: 25px; }
.introduce .map-area p { font-size: 20px; line-height: 30px; margin-bottom: 35px; }
.introduce .map-area .map { width: 100%; height: 538px; }
.introduce .transport {}
.introduce .transport > li {display:-webkit-box; display:box; margin-top:11px; padding:17px 35px 17px 0; border:1px solid #d6d5d5;}
.introduce .transport > li:first-child {margin-top:0;}
.introduce .transport > li > * {display:-webkit-box; display:box; -webkit-box-orient:vertical; box-orient:vertical; -webkit-box-pack:center; box-pack:center; -webkit-box-flex:1; box-flex:1;}
.introduce .transport > li .img {min-width:191px; max-width:191px; text-align:center;}
.introduce .transport > li .img img {width:79px; height:auto;}
.introduce .transport > li .img .txt {display:block;}
.introduce .transport > li .info {position:relative; min-height:117px; padding-left:25px;}
.introduce .transport > li .info:before {position:absolute; left:0; top:0; display:block; content:""; width:1px; height:100%; background:#d6d5d5;}
.introduce .transport > li .info .fpi-info {font-size:18px;}
.introduce .transport > li .info .path-traffic {position:relative; margin-top:4px; padding-left:10px; font-size:16px; }
.introduce .transport > li .info .path-traffic:before {position:absolute; left:0; top:-2px; content:'-';}

@media (max-width: 1319px) {
	.gallery-info {display:block; height:auto; margin-bottom:2rem; padding:2rem 1rem; border:none;background: url(/gbgs_lib/images/use/bg-gallery-info.png) repeat;}
	.gallery-info .tab-info {display:block; width:100%; padding:0; box-sizing:border-box;}
	.gallery-info .tab-info .tit {display:none;}
	.gallery-info .tab-info .tab {overflow:hidden; border-top:1px solid #d6d5d5; border-left:1px solid #d6d5d5;}
	.gallery-info .tab-info .tab > li {float:left; width:33.33%;}
	.gallery-info .tab-info .tab > li a {background:#fff; border:none; border-right:1px solid #d6d5d5; border-bottom:1px solid #d6d5d5; font-size:0.9rem;}
	.gallery-info .tab-info .tab > li:nth-child(3n+1) {clear:both;}
	.gallery-info .tab-info .tab > li.on a {padding-top:8px;}
	.gallery-info .tab-con .tab-contents .tit {width:100%; text-align:center;}
	.gallery-info .tab-con {display:block; width:auto; margin-top:2rem;}
	.gallery-info .tab-con .slider.room:before {display:none;}
	.gallery-info .tab-con .slider.room .info .txt {margin:0; padding:1rem 0; background:#fff; font-size:0.9rem; border-bottom:1px solid #d8dadb;}
	.gallery-info .tab-con .slider.room .slick-prev,
	.gallery-info .tab-con .slider.room .custom-paging,
	.gallery-info .tab-con .slider.room .slick-next {display:none !important;}
	
	.use .top-banner {margin-top:2.5rem;}
	.use .h3 {margin:2rem 0 0.5rem;}
	.use .h4 {margin:2rem 0 0.5rem;}
	.use .tbl-type1,
	.use .list-notes ul {margin-top:1rem;}
	.use .top-banner .inner .img {text-align:center;}
	.use .service-area:before {height:4.5rem; background-size:cover;}
	.use .service-area:after {height:4.5rem; background-size:cover;}
	.use .service-area .tit {font-size:2.3rem;}
	.use .service-area .tit .tail {font-size:1rem;}
	.use .service-area .list ul > li,
	.use .service-area .list ul > li .num {font-size:1rem; line-height:1.4;}
	.use .h3_wrap .txt-important {top:0; font-size:1rem;}
	.use .bg-txt-list {font-size:1rem;}
	.use .donation-process {margin-bottom:2.5rem;}
	.use .top-banner .inner .txt-bul > li,
	.use .donation-process ol > li > *,
	.use .bg-box-list ul > li {line-height:1.4;}


	/*수련아 옮길 부분이야*/
	.introduce .map-area p {margin-bottom:1rem; font-size:1.4rem; line-height:1.6;}
	.introduce .transport > li .img {min-width:10rem; max-width:10rem;}
	.introduce .transport > li .info .fpi-info  {font-size:1.3rem;}
	.introduce .transport > li .info .path-traffic {font-size:1rem;}
	.introduce .transport > li .info {padding-left:1rem;}
	.introduce .transport > li .img img {width:5rem;}

}
@media (max-width: 1273px) {
	.use{}
	.use .service-area:before {background-position:left bottom; background-size:contain;}
	.use .service-area:after {background-position:left top; background-size:contain;}
}
@media (max-width: 1024px) {
	.use .service-area:before {background:url(../images/use/service-area-t.png) no-repeat left bottom; background-size:contain;}
	.use .service-area:after {background-size:contain;}
	.use .top-banner .inner .txt-bul {padding-left:1rem;}
	.use .top-banner .inner .img {padding-right:1rem;}
	p.txt-important {font-size:0.9rem;}
	.use .list-notes ul > li {font-size:1rem; line-height:1.4;}
	.use .list-notes {    background-position: right bottom; padding-bottom: 150px; background-size: 15rem auto; margin-bottom: 2rem;} 
	}
@media (max-width: 768px) {
	.use .service-area {margin-top:0;}
	.use .service-area .list {margin-top:3rem; padding:0 5rem;}
	.use .service-area:before {background:url(../images/use/service-area-t.png) no-repeat left bottom; background-size:contain;}
	.use .service-area:after {background-size:contain;}
	
}
@media (max-width: 360px) {
	.use .service-area .list ul > li {font-size:1rem;}
	.use .top-banner .inner .txt-bul {}
}

