@charset "utf-8";

@import 'base';
@import 'reset';


/* COMMON */
#header {
	&:after {display:block; clear:both; content:""}
	// UTILE
	.utile-zone {
		background:#30809f; color:#fff; font-size:13px;
 		.inner {overflow:hidden; max-width:1320px; margin:0 auto;}
		.outlnk-group {
			float: left;
			&:after {display:block; clear:both; content:""}
			li {float:left; border-right:1px solid rgba(256,256,256,0.3)}
			li:first-child {background:#00658c; border-right:0}
			a {
				display:block; padding:0 15px; line-height:40px;
				&:hover {margin:0 -1px; padding:0 16px; background:#4acdef;}
			}
		}
		.join-group {
			float: right;
			&:after {display:block; clear:both; content:""}
			li {float:left; border-right:1px solid rgba(256,256,256,0.3)}
			a {
				display:block; padding:0 20px 0 15px; line-height:40px;
				&:hover {margin:0 -1px; padding:0 21px 0 16px; background:#4acdef;}
			}
		}
	}

	.header-zone {; height:90px; }
	// LOGO
	.logo {
		float:left; margin:15px 0 0 74px;
		a {display:block;}
	}
	.lib-group {
		float:right;
		&:after {display:block; clear:both; content:""}
		li {float:left;}
		a {
			display:block; width:90px; height:90px; font-size:14px; color:$color1; text-align:center;
			&.btn-sitemap {background:#eeeee2}
			&.btn-lib {background:#e9f1fa}
		}
	}
	// GNB
	#gnb {
		position:relative; max-width:1320px; margin:0 auto;
		.menu {
			position:absolute; right:0; top:35px;
			&:after {display:block; clear:both; content:""}
			& > li {
				float:left; width:180px;
				h2 a {font-family:$font3; font-weight:normal;}
			}
			.depth {display:none}
		}
	}
}
#footer {
}

/* SUB LAYOUT */
#container {
	max-width:1320px; margin:0 auto;
}

/* POINT COLOR */
.point01 {color:#008fc0}
.point02 {color:#2a5caa}
.font-bold {font-family:$font3}

/* BUTTON */

/* ICON */

/* TITLE */

/* TABLE */


/* FORM */
.inp-type1 {
	&::-webkit-input-placeholder {color:#c9c9c9; }
	&::-moz-placeholder {color:#c9c9c9; }
	&:-ms-input-placeholder {color:#c9c9c9; }
	&:-moz-placeholder {color:#c9c9c9; }
	&.w100per {width:100%;}
}

.radio-type1 {
	position: relative;
	input {position:absolute; overflow:hidden; left:1px; top:50%; width:1px; height:1px;}
	label {display:block; position:relative; padding-left:20px; font-size:15px; color:#3a3a3a; cursor:pointer;}
	label:before {display:block; content:""; position:absolute; left:0; top:0; width:15px; height:15px; @include background("common/input-radio1.png",no-repeat 0 0);}
	input:checked + label:before {background-position:100% 0;}
}

.check-type1 {
	position: relative; display: inline-block; overflow:hidden;
	input {position:absolute; overflow:hidden; left:3px; top:50%; width:1px; height:1px;  visibility: hidden;}
	label {display:inline-block; position:relative; padding-left:30px; font-size:15px; color:#3a3a3a; cursor:pointer; line-height:20px;}
	label:before {display:block; content:""; position:absolute; left:0; top:0; width:20px; height:20px; @include background("common/input-check.png",no-repeat 0 0);}
	input:checked + label:before {background-position:100% 0;}
	&.txtnone label {width:20px; height:20px; padding:0; text-indent:-9999em}
}
.radio-lst {
	&:after {display:block; clear:both; content:""}
	& > li {float:left;}
	& > li + li {margin-left:15px;}
}
.textarea {
	width:100%; padding:15px; border:1px solid #d2d2d2; background:#fff; resize:none; font-family:$font2; font-size:15px; box-sizing:border-box;
	&::-webkit-input-placeholder {color:#c9c9c9; }
	&::-moz-placeholder {color:#c9c9c9; }
	&:-ms-input-placeholder {color:#c9c9c9; }
	&:-moz-placeholder {color:#c9c9c9; }
}

.block {
	&:after {display:block; clear:both; content:""}
	> * {float:left;}
	> * + * {margin-left:8px}
	.txt {line-height: 40px; color:#777}
}



/* LIST */
p.txt-dotted {
	position:relative; padding-left:16px; font-size:15px; line-height:30px; color:#535353;
	&:before {display:block; position:absolute; content:""; left:0; top:13px; width:5px; height:5px; background:#7d7d7d; border-radius:100px;}
}
.txt-dotted {
	& > li {position:relative; padding-left:16px; font-size:15px; line-height:30px; color:#535353}
	& > li:before {display:block; position:absolute; content:""; left:0; top:13px; width:5px; height:5px; background:#7d7d7d; border-radius:100px;}
	&.color1 {
		& > li:before {background:$color1;}
	}
	&.color2 {
		& > li:before {background:#444444;}
	}
}
p.txt-hyphen {
	position:relative; padding-left:11px; line-height:30px;
	&:before {display:block; position:absolute; left:0; top:0; content:"-"};
}
.txt-hyphen {
	& > li {position:relative; padding-left:11px; line-height:30px;}
	& > li:before {display:block; position:absolute; left:0; top:0; content:"-"};
}
p.txt-important {
	&:before {display: inline-block; content: "※"; margin-right:2px;}
}
.txt-important {
	li {
		color:#676767;
		&:before {display: inline-block; content: "※"; margin-right:2px;}
	}
}


/* PAGING */
.paging {
	text-align:center; margin-top:55px;
	& > div  {display:inline-block; position:relative; padding:0 87px;}
	ol {
		display:inline-block;
		&:after {display:block; clear:both; content:""}
		li {float:left;
			& + li {margin-left:6px;}
			a {display:inline-block; width:36px; height:36px; text-align:center; color:#535353;border:1px solid #cecece; line-height:36px;}
			&.on a {background:#02547d; color:#fff; border-color:#02547d; font-weight:700;}
		}
	}
	p {position:absolute; top:0;
		a {display:inline-block; position:relative; overflow:hidden; width:36px; height:36px;border:1px solid #cecece; line-height:36px; background:#eff0f1; color:#868686 }
		a span {display:block; position:absolute; top:-1px; left:-1px; text-indent:-999em; }
		&.prev a:before {display:block;  content:"<"; }
		&.allprev a:before {display:block;  content:"<<"; }
		&.next a:before {display:block;  content:">"; }
		&.allnext a:before {display:block;  content:">>"; }
		&.prev {left:0;}
		&.allprev {left:44px;}
		&.next {right:44px}
		&.allnext {right:0}
	}
}

/* TAB */
.tab-zone {
	border-top:3px solid $color1;
	ul:after {display:block; clear:both; content:""}
	li {float:left; box-sizing:border-box; border-left:1px solid #d6d3d2; border-bottom:1px solid #d6d3d2;
		a {display:block; color:#565656; font-size:18px; text-align:center; line-height: 56px; -webkit-transition:0.2s ease;transition:0.2s ease;}
		a:hover,
		&.current a {background:$color1; color:#fff; font-weight:700;}
		&:last-child {border-right:1px solid #d6d3d2}
	}

	li:first-child:nth-last-of-type(10) ~ li:nth-child(5) {border-right:1px solid #d6d3d2}
	li:first-child:nth-last-of-type(8) ~ li:nth-child(4) {border-right:1px solid #d6d3d2}
	li:first-child:nth-last-of-type(6) ~ li:nth-child(3) {border-right:1px solid #d6d3d2}

	li:first-child:nth-last-of-type(5),
	li:first-child:nth-last-of-type(10),
	li:first-child:nth-last-of-type(5)~li,
	li:first-child:nth-last-of-type(10)~li {width:20%}
	li:first-child:nth-last-of-type(4),
	li:first-child:nth-last-of-type(8),
	li:first-child:nth-last-of-type(4)~li,
	li:first-child:nth-last-of-type(8)~li {width:25%}
	li:first-child:nth-last-of-type(3),
	li:first-child:nth-last-of-type(6),
	li:first-child:nth-last-of-type(3)~li,
	li:first-child:nth-last-of-type(6)~li {width:33.33%}
}

/* LAYER */
#layer {
	display:table; position: fixed; width:100%; height:100%; left:0; top:0;
	background:rgba(0,0,0,0.5); z-index: 100000;
	.layer-inner {
		display: table-cell; width:100%; height:100%;vertical-align: middle;
		.layer-container {
			width:1080px; margin:50px auto; position: relative; border:2px solid $color1; background: #fff;
			&.small {width:480px;}
			&.large {width:1566px;}
			&.medium {width:790px;}
			&.medium2 {width:945px;}
			.layer-header {
				.layer-title {padding:0 25px; margin:-2px -2px 0; font-size:20px; color:#fff; font-weight:700; line-height: 65px;}
				@include background("common/bg-layer.jpg",repeat-x 0 50%);
			}
			.close {position:absolute; right:20px; top:12px;
				button {
					position: relative; overflow: hidden; width:41px; height:41px; border-radius: 100px; background: #14668f;
					span {display: inline-block; text-indent:-999em;}

					&:before {display: block; position: absolute; left:10px; top:20px; content: ""; width:20px; height:1px; background: #fff; -webkit-transform:rotate(45deg);transform:rotate(45deg)}
					&:after {display: block; position: absolute; left:10px; top:20px; content: ""; width:20px; height:1px; background: #fff; -webkit-transform:rotate(-45deg);transform:rotate(-45deg)}
				}
			}
		}

	}
}


/* TABLE */
.tbl-type1 {
	border-top:2px solid #58b0e3; border-bottom:1px solid #d6d9db;  font-size:16px; color:#2e2e2e; text-align:center;
	tr > * {
		height:44px; border-left:1px solid #d6d9db; border-top:1px solid #d6d9db;
		&:first-child {border-left:0;}
	}
	thead {
		th {background:#ecf8fe; font-family:$font3; }
		tr:first-child th {border-top:0;}
	}
	tfoot {
		td {font-family:$font3}
	}
	tbody {
		th {background:#ecf8fe; font-family:$font4;}
	}

}



































@media (max-width:1279px) {

	/* COMMON */
	#header {
	}
	#footer {
	}
	#container {
	}

	.scrollzone {overflow-x:scroll;
		.scrollinner {width:200%;}
	}



	/* BUTTON */

	/* TITLE */

	/* TABLE */

	/* TAB */
	.tab-zone {
		li a {font-size:16px;}
	}



	/* LAYER */
	#layer .layer-inner .layer-container {width:95%;
		&.large {width: 95%}
		&.medium {width: 95%}
		&.medium2 {width: 95%}
	}
}
@media (max-width:600px) {
	/* COMMON */
	#header {
	}
	#footer {
	}
	#container {
	}


	/* BUTTON */
	.btn-zone {
		&.flex, .flex {display:table; display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex; width:100%;
			& > * {display: table-cell; flex:1; text-align:center;}
			& > *:first-child:nth-last-of-type(2),
			& > *:first-child:nth-last-of-type(2)~* {width:50%; }
			& > *:first-child:nth-last-of-type(3),
			& > *:first-child:nth-last-of-type(3)~* {width:33.3%; }
			& > *:first-child:nth-last-of-type(4),
			& > *:first-child:nth-last-of-type(4)~* {width:25%; }
		}
	}


	/* TITLE */
	/* ICON */

	/* TABLE */
	/* FORM */
	.check-type1 {
		label {padding-left:25px;font-size:11px;}
		label:before {width:18px; height:18px; background-size:auto 100%;}
		input:checked + label:before {width:18px; height:18px; background-size:auto 100%;}
	}
	.block {}

	/* PAGING */
	.paging {
		margin-top:20px;
		& > div  {display:inline-block; position:relative; padding:0 65px;}
		ol {
			li {
				a {width:25px; height:25px; line-height:25px; font-size:10px;}
			}
		}
		p {
			a {display:inline-block; position:relative; overflow:hidden; width:25px; height:25px;border:1px solid #cecece; line-height:25px; background:#eff0f1; color:#868686; font-size:10px;}
			a span {display:block; position:absolute; top:-1px; left:-1px; text-indent:-999em; }
			&.prev a:before {display:block;  content:"<"; }
			&.allprev a:before {display:block;  content:"<<"; }
			&.next a:before {display:block;  content:">"; }
			&.allnext a:before {display:block;  content:">>"; }
			&.prev {left:0;}
			&.allprev {left:30px;}
			&.next {right:30px}
			&.allnext {right:0}
		}
	}
	/* LIST */
	.txt-dotted {
		& > li {padding-left:10px; font-size:12px; line-height:18px;}
		& > li:before {top:7px; width:3px; height:3px;}
	}
	p.txt-dotted {
		padding-left:10px; font-size:12px; line-height:18px;
		&:before {top:7px; width:3px; height:3px;}
	}
	.txt-hyphen {
		& > li {font-size:12px; line-height:18px;}
	}
	.txt-important {font-size:11px;}



	/* TAB */
	.tab-zone {
		border-top-width:2px;
		li {
			display: table; height:50px;
			a {display:table-cell; vertical-align:middle; font-size:11px; line-height:1.4; word-break:keep-all;}
		}
	}


	/* LAYER */
	#layer {
		.layer-inner {
			.layer-container {
				margin:20px auto;
				&.small {width: 95%}
				&.large {width: 95%}
				&.medium {width: 95%}
				.layer-header {
					.layer-title {padding-left:10px; font-size:12px;line-height: 40px;}
					@include background("common/bg-layer.jpg",repeat-x 0 50%);
				}
				.close {
					right:10px; top:5px;
					button {
						width:25px; height:25px;
						&:before {left:5px; top:12px; width:16px;}
						&:after {left:5px; top:12px; width:16px; }
					}
				}
			}

		}
	}
}
@media (max-width:360px) {}
@media (max-width:321px) {}
@media print {}