@charset "utf-8";
.introduce {
  .content-zone {
    position: relative;
  }
  .tit-sub {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: normal;
  }
  .img-txt {
    margin-bottom: 44px;
  }
  .box-txt {
    width: 30vw;
    p {
      margin-bottom: 30px;
    }
    span {
      color: #fb5521;
    }
    em {
      color: #fb5521;
      font-weight: bold;
    }
  }
  .box-img {
    position: absolute;
    top: 45px;
    right: 0;
  }
  .h3 {
    margin: 50px 0 30px;
  }
  h4 {
    margin: 32px 0 18px;
  }
  .tbl-type1 {
    td {
      min-height: auto;
      padding: 12px 10px;
      word-break: break-all;
    }
  }
  .list-dash {
    text-align: left;
    li {
      position: relative;
      padding-left: 10px;
      &:after {
        position: absolute;
        top: 0;
        left: 0;
        content: "-";
      }
    }
  }
  .history {
    li {
      font-style: italic;
      &:after,
      .detail:after {
        display: block;
        clear: both;
        content: "";
      }
      > div {
        float: left;
      }
      .year {
        position: relative;
        padding: 0 30px 45px 0;
        border-right: 1px solid #d8dadb;
        span {
          display: block;
          margin-top: -10px;
          font-size: 24px;
          font-weight: bold;
          &:after {
            position: absolute;
            top: 0;
            right: -4px;
            width: 7px;
            height: 7px;
            background: #257d92;
            border-radius: 50%;
            content: "";
          }
        }
      }
      .detail-wrap {
        margin: -8px 0 0 30px;
        .detail {
          > * {
            float: left;
          }
          em {
            display: block;
            margin-right: 30px;
            font-weight: bold;
            font-style: italic;
          }
        }
      }
      &:first-child {
        .year {
          margin-top: 20px;
        }
        .detail-wrap {
          margin-top: 13px;
        }
        .detail:nth-of-type(1) {
          margin-bottom: 10px;
        }
      }
      &:last-child {
        .year {
          border-right: 0 none;
        }
      }
      &:nth-child(3n-2) {
        .year {
          padding-bottom: 80px;
        }
      }
      &:nth-child(4n) {
        .detail p {
          margin-top: -5px;
          line-height: 30px;
        }
      }
    }
  }
}

@media (max-width: 780px) {
  .introduce {
    .tit-sub {
      font-size: 12px !important;
    }
    .img-txt {
      img {
        width: 297px;
      }
      &.history {
        img {
          width: 116px;
        }
      }
    }
    .tbl-type1 {
      td {
        padding: 6px 5px;
      }
    }
  }
}

@media (max-width: 1319px) {
  .introduce {
    .tit-sub {
      font-size: 15px;
      text-align: center;
    }
    .img-txt {
      margin-bottom: 22px;
      text-align: center;
    }
    .box-txt {
      width: 90vw;
      margin: 0 auto;
      text-align: center;
      p {
        margin-bottom: 15px;
      }
    }
    .box-img {
      position: static;
      top: 0;
      text-align: center;
    }
  }
}
