@charset "utf-8";
.member {
  .top-banner {
    position: relative;
    display: -webkit-box;
    display: box;
    padding: 25px 30px;
    background: #f1fafe;
    border-top: 3px solid #daeff9;
    box-sizing: border-box;
    line-height: 26px;
    &:before {
      position: absolute;
      top: -3px;
      left: 0;
      display: block;
      width: 136px;
      height: 3px;
      background: #4089c1;
      content: "";
    }
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 3px;
      height: 49px;
      background: #4089c1;
      content: "";
    }
  }
  .h3 {
    margin: 40px 0 22px;
  }
  .list-dash {
    text-align: left;
    li {
      position: relative;
      padding-left: 10px;
      word-break: keep-all;
      &:after {
        position: absolute;
        top: 0;
        left: 0;
        content: "-";
      }
    }
  }

  .banner-inner {
    li {
      margin-top: 20px;
      &:first-child {
        margin-top: 0;
      }
      a {
        overflow: hidden;
        display: block;
        padding: 9px 12px 5px 12px;
        border: 1px solid #e2e1e1;
        background: url(/gbgs_lib/images/member/btn-arrow-off.jpg) right 8px
          no-repeat;
        &:hover {
          padding: 8px 11px 4px 11px;
          border: 2px solid #30809f;
          background: url(/gbgs_lib/images/member/btn-arrow-on.jpg) right 7px
            no-repeat;
        }
        .banner-img {
          display: block;
          float: left;
          margin-right: 20px;
          img {
            border: 1px solid #e2e1e1;
          }
        }
        .banner-txt {
          float: left;
          padding-top: 4px;
          p {
            margin-bottom: 2px;
            font-weight: bold;
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .member {
    .top-banner {
      padding: 20px;
      line-height: 20px;
    }
    .h3 {
      margin: 20px 0 10px;
    }
    .list-dash li {
      line-height: 1.5;
    }

    .banner-inner {
      li {
        a {
          background: none;
          &:hover {
            background:none;
          }
          .banner-img {
            float: none;
            margin: 0;
            text-align: center;
          }
          .banner-txt {
            float: none;
            text-align: center;
            p {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}
