@charset "utf-8";

@import 'base';


.member {
	/* 개인정보처리방침 */
	.policy {
		.top-banner {
			position: relative; display: -webkit-box; display: box; padding: 25px 30px; background: #f1fafe; border-top: 3px solid #daeff9; box-sizing: border-box; line-height: 26px;
			&:before {position: absolute; top: -3px; left: 0; display: block; width: 136px; height: 3px; background: #4089c1; content: ""; }
			&:after {position: absolute; top: 0; left: 0; display: block; width: 3px; height: 49px; background: #4089c1; content: ""; }
		}
		.h3 {
			margin: 40px 0 22px;
		}
		.list-dash {
			text-align: left;
			li {
				position: relative; padding-left: 10px; word-break: keep-all;
				&:after {position: absolute; top: 0; left: 0; content: "-"; }
			}
		}
	}
	/* 배너모음 */
	.banner-inner {
		li {
			margin-top: 20px;
			&:first-child {margin-top: 0; }
			a {
				overflow: hidden; display: block; padding: 9px 12px 5px 12px; border: 1px solid #e2e1e1; background: url(/gbgs_lib/images/member/btn-arrow-off.jpg) right 8px no-repeat;
				&:hover {
					padding: 8px 11px 4px 11px; border: 2px solid #30809f; background: url(/gbgs_lib/images/member/btn-arrow-on.jpg) right 7px no-repeat;
				}
				.banner-img {
					display: block; float: left; margin-right: 20px; 
					img {border: 1px solid #e2e1e1; }
				}
				.banner-txt {
					float: left; padding-top: 4px;
					p {margin-bottom: 2px; font-weight: bold; font-size: 18px; }
				}
			} 
		}
	}

	/* 아이디&비밀번호찾기 */
	.member-box {
		margin-top:30px; border:1px solid #d6d5d5; border-top:2px solid #028090;
	}
	.find {
		.content-zone .txt {height:61px; text-indent: -9999em; @include background("member/img-find-txt.png", no-repeat 50% 50%); }
		.member-box {
			padding:55px 0 50px;  text-align: center;
			.box {
				overflow:hidden; display: inline-block; vertical-align: top;
				a {display: block; width:185px; height:110px; line-height: 110px; color:#fff; text-align:center; background: #4089c1;}
				button {float:left; display: block; width:122px; height:110px; margin-left:8px;  line-height: 110px; color:#fff; text-align:center; background: #028090;}
			}
			.or {display: inline-block; line-height: 110px; font-size:20px; margin:0 33px; font-family: $font1;}
			.form { 
				float:left; width:352px;
				input {
					height:50px; width:100%; padding:0 19px; margin-top:10px; color:$color1; box-sizing:border-box; color:#333; border:1px solid #c3c3c3; font-size:16px; font-family:$font6;
					&:nth-of-type(1) {margin-top:0;}
					&::-webkit-input-placeholder {color:#b0b0b0;}
					&::-moz-placeholder {color:#b0b0b0;}
					&:-ms-input-placeholder {color:#b0b0b0;}
					&:-moz-placeholder {color:#b0b0b0;}
				}
			}
			.txt-important {text-align:left; clear:both; margin-top:120px;}
		}
	}

	/* 로그인 */ 
	.login {
		.content-zone .txt {height:26px; text-indent: -9999em; @include background("member/img-login-txt.png", no-repeat 50% 50%); }
		.member-box {
			padding:70px 0 55px 370px; text-align:left; @include background("member/icon-login.png",no-repeat 120px 44px);
			.box {
				overflow:hidden;
				button {float:left; display: block; width:122px; height:110px; margin-left:8px;  line-height: 110px; color:#fff; text-align:center; background: #028090;}
			}
			.form {
				float:left; width:325px;
				div[class*="ipt"] {
					position: relative; margin-top:10px;
					&:nth-of-type(1) {margin-top:0;}
					&:after {display: inline-block; content:""; position: absolute; top:0; right:11px; width:24px; height:100%; }
					&.ipt1:after { @include background("member/icon-ipt1.png",no-repeat 50% 50%);}
					&.ipt2:after { @include background("member/icon-ipt2.png",no-repeat 50% 50%);}
				}
				input {
					height:50px; width:100%; padding:0 35px 0 19px; color:$color1; box-sizing:border-box; color:#333; border:1px solid #c3c3c3; font-size:16px; font-family:$font6;
					&::-webkit-input-placeholder {color:#b0b0b0;}
					&::-moz-placeholder {color:#b0b0b0;}
					&:-ms-input-placeholder {color:#b0b0b0;}
					&:-moz-placeholder {color:#b0b0b0;}
				}
			}
			.group {
				margin-top:16px;
				&:after {display:block; clear:both; content:""}
				li {
					float:left; position: relative; margin-left:60px;
					&:first-child {margin-left:0}
					input {position: absolute; left:0; top:40%;}
					label {
						font-size:14px; color:#111; cursor:pointer;
						&:before {display: inline-block; content:""; vertical-align: middle; width:68px; height:25px; margin-right:8px; @include background("common/ipt-check2.png",no-repeat 50% 50%); }
					}
					input:checked + label:before {@include background("common/ipt-check2--checked.png",no-repeat 50% 50%);}
				}
			}
		}
		.btm-help-zone {
			position:relative; margin-top:30px; border:1px solid #d6d5d5;
			&:after {display:block; clear:both; content:""}
			&:before {display: block; position: absolute; top:0; left:50%; width:2px; height:100%; background: #d6d5d5; content: "";}
			li {
				float:left; width:50%; padding:30px 20px 25px 185px; box-sizing:border-box;  color:#2e2e2e; font-size:15px; line-height: 24px;
				&.join {@include background("member/icon-login1.png",no-repeat 34px 50%);}
				&.idfind {@include background("member/icon-login2.png",no-repeat 34px 50%);}
			}
			.tit {font-size:20px;margin-bottom:5px; letter-spacing: -0.5px;}
			.btn-type2 {margin-top:13px;}
		}		
	}

	/* 회원탈퇴 */
	.moveout-zone {
		.h4 {margin-top:30px;}
		.txt {margin-top:15px; padding:10px 15px 12px; background: #f1fafe; color:#000; font-size:15px; line-height: 26px;}
		.check {
			margin:70px 0 -25px; text-align:center;
			.radio-type1 {display: inline-block; }
			.radio-type1 label {color:#777;}
		}
	}

	/* 회원가입 */
	.join {
		.txt-welcome {height:26px; @include background("member/img-login-txt.png",no-repeat 50% 50%); text-indent:-999em;}
		.join-process-zone {
			padding:14px 16px; margin:24px 0 45px; background: #f1f6f8;
			ul {
				padding:27px 63px;
				overflow:hidden; background: #fff;
				li {
					float:left; position: relative;  display:inline-block; width:150px; height:150px; margin-left:76px; text-align:center; border:1px solid #d8d7d7; border-radius: 100px; color:#444444; font-size:18px; box-sizing:border-box;
					&:before {display: block; content:""; position: absolute; top:50%; left:-46px; width:21px; height:39px; margin-top:-20px; @include background("member/bul-arrow.png",no-repeat 50% 50%); }
					&:first-child {margin-left:0;}
					&:first-child:before {display:none}
					& > div {position: absolute; top:50%; left:0; width:100%; transform:translateY(-50%);}

					&.current {
						background: #2e5ead; border-color:#2e5ead; color:#fff;
						&:before {@include background("member/bul-arrow--on.png",no-repeat 50% 50%); }
						.num {
							color:#fff;
							&:after {background:#fff;}
						}
					}
				}
				.num {
					position:relative; display: block; padding-bottom:9px; margin-bottom:10px; font-size:20px; color:#737272;
					&:after  {display: block; position: absolute; bottom:0; left:50%; width:36px; height:4px; margin-left:-18px; border-radius: 100px; content:''; background: #c5c5c5}
				}
			}
		}

		.join4-zone {
			padding:66px 0 65px; border-top:2px solid #666; border-bottom:1px solid #f0f0f0; background: #f7f7f7; text-align: center; color:#777; line-height: 24px; font-size:16px;
			.point {margin-bottom:19px; color:#027bc0; font-size:22px; font-weight: bold;}
			.btn-type2 {width:120px; margin-top:38px}
		}
		.join2-zone {
			margin-bottom:-20px;
			.h3 {margin:70px 0 22px}
			textarea {
				overflow-x:hidden; overflow-y:auto; width:100%; height:257px; padding:10px 20px; border:1px solid #ddd; border-top:3px solid #666;  resize:none; color:#a5a5a5; font-size:15px; line-height: 24px; font-family: $font1; box-sizing:border-box;
				&.small {overflow:hidden; height:46px;}
			}
			.agree-ipt {text-align:center; margin-top:18px;}
			.form {
				margin:28px 0 50px; text-align:center;
				p {display:inline-block; margin-right:9px; line-height:40px; font-size:15px; color:#777}
				.inp-type2 {width:200px;}
			}
		}
		.join1-zone {
			.txt {
				color:#2e2e2e; font-size:16px; line-height: 24px; text-align:center;
				.point {color:#2e5ead; font-weight: bold;}
			}
			.confirmation {
				&:after {display:block; clear:both; content:""}
				li {
					float:left; width:50%; padding:40px 0 35px 170px; border:1px solid #d6d5d5; border-top-width:3px; border-style: solid; box-sizing:border-box;
					.tit {display:block; font-weight:normal;color:#2e2e2e; font-size:24px; }
					.txt {display:block; margin:7px 0 13px; color:#2e2e2e; font-size:16px; text-align:left;}
				}
				.phone {
					border-top-color:#028090; 
				}
				.email {
					border-left:0; border-top-color:#e06769;

				}
			}
		}
	}
}









@media (max-width:1319px) {
	.member {
		/* 아이디&비밀번호찾기 */
		.find {
			.member-box {
				.box {
					a {width:17vw;}
					button {width:12vw;}
				}
				.form {width:34.5vw; }
			}
		}
		/* 로그인 */
		.login {
			.member-box {
				padding:70px 20px 55px; background:none; text-align:center;
				.box {width:455px; margin:0 auto;}
				.group {display: inline-block; }
			}
		}

		/* 회원가입 */
		.join {
			.join-process-zone {
				padding:14px 1.2vw; 
				ul {
					padding:27px 4.7vw; text-align:center;
					li {
						float:none; width:12vw; height:12vw; margin-left:5.7vw; font-size:1.3vw;
						&:before {left:-3.8vw; }
					}
					.num {font-size:1.5vw; }
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.member {
		/* 개인정보처리방침 */
		.policy {
			.top-banner {
				padding: 20px;
				line-height: 20px;
			}
			.h3 {
				margin: 20px 0 10px;
			}
			.list-dash li {
				line-height: 1.5;
			}
		}
		/* 배너모음 */
		.banner-inner {
			li {
				a {
					background: none;
					&:hover {background:none; }
					.banner-img {float: none; margin: 0; text-align: center; }
					.banner-txt {
						float: none; text-align: center;
						p {font-size: 15px; }
					}
				}
			}
		}

		/* 아이디&비밀번호찾기 */
		.member-box {
			margin-top:30px; border:1px solid #d6d5d5; border-top:2px solid #028090;
		}
		.find {
			.content-zone .txt {height:5rem;  background-size: 80% auto;}
			.member-box {
				padding:3rem 1rem; margin-top:2rem;
				.or {display:block; line-height: 1.2; font-size:1.2rem; margin:1.5rem 0 2rem;}
				.box {
					display: block;
					a {width:100%; height:4rem; line-height: 4rem;}
					button {width:28%; height:6.3rem; margin-left:2%;  line-height: 5.3rem;}
				}
				.form { 
					float:left; width:70%;
					input {
						height:3rem; padding:0 1rem; margin-top:0.3rem; font-size:0.8rem;
						&:nth-of-type(1) {margin-top:0;}
					}
				}
				.txt-important {margin-top:6.7rem;}
			}
		}

		/* 로그인 */
		.login {
			.content-zone .txt {height:26px;  background-size: 80% auto;}
			.member-box {
				padding:3rem 1rem 3rem;
				.box {
					width:100%;
					button {width:28%; height:6.3rem; margin-left:2%;  line-height:6.3rem; font-size:0.8rem;}
				}
				.form {
					width:70%;
					div[class*="ipt"] {
						position: relative; margin-top:0.3rem;
						&:nth-of-type(1) {margin-top:0;}
						&:after {display: inline-block; content:""; position: absolute; top:0; right:11px; width:24px; height:100%; }
						&.ipt1:after {background-size:auto 50%}
						&.ipt2:after {background-size:auto 50%}
					}
					input {height:3rem; padding:0 3.5rem 0 1rem;  font-size:0.8rem; }
				}
				.group {
					margin-top:1rem;
					li {
						margin-left:3rem;
						&:first-child {margin-left:0}
						label {
							font-size:0.8rem;
							&:before {display: inline-block; content:""; vertical-align: middle; width:3.4rem; height:1.25rem; margin-right:0.4rem;background-size: auto 100%;}
						}
						input:checked + label:before {background-size: auto 100%;}
					}
				}
			}
			.btm-help-zone {
				margin-top:2rem;
				&:before {width:1px;}
				li {position:relative; padding:1rem 0.5rem 1rem 1rem; height:11rem; font-size:0.8rem; line-height: 1.4; background: none !important; box-sizing:border-box;}
				.tit {font-size:1rem; margin-bottom:0.2rem;}
				.btn-type2 {position:absolute; left:1rem; bottom:1rem; margin-top:0;}
			}		
		}		
		/* 회원탈퇴 */
		.moveout-zone {
			.h4 {margin-top:2rem;}
			.txt {margin-top:1.5rem; padding:1rem 1rem 1.2rem; font-size:0.8rem; line-height: 1.6;}
			.check {margin:3rem 0 -1rem; }
		}
	
		/* 회원가입 */
		.join {
			.txt-welcome {height:26px; background-size:80% auto;}
			.join-process-zone {
				padding:1rem 1rem; margin:1rem 0 2rem; text-align:center;
				ul {
					padding:1.5rem 1rem;
					li {
						width:5rem; height:5rem; margin-left:2.2rem; font-size:0.8rem;
						&:before {left:-1.8rem; width:0.9rem; height:1.7rem; margin-top:-1rem; background-size:auto 100%;} 

						&.current:before {background-size:auto 100%;}
					}
					.num { 
						padding-bottom:0.5rem; margin-bottom:0.4rem; font-size:1rem;
						&:after  {width:2rem; height:2px; margin-left:-1rem; }
					}
				}
			}
			.join4-zone {
				padding:3rem 0 4rem; line-height: 1.6; font-size:1.1rem; word-break:keep-all;
				.point {margin-bottom:1rem; font-size:1.5rem}
				.btn-type2 {width:8rem; margin-top:2rem}
			}
			.join2-zone {
				margin-bottom:0;
				.h3 {margin:4rem 0 2rem}
				textarea {
					height:25rem; padding:1rem 1rem; font-size:1.1rem; line-height: 1.6;
					&.small {overflow-y:auto; height:6rem;}
				}
				.agree-ipt {text-align:center; margin-top:18px;}
				.form {
					margin:2rem 0 3rem;
					p {margin-right:0.4rem;line-height:2.7rem; font-size:1.1rem;}
					.inp-type2 {width:15rem;}
				}
			}

		}

	}

}

@media (max-width: 370px) {
	.pc .member .login .btm-help-zone li {height:13rem}
}

@media (max-width: 320px) {
	.member {
		/* 회원가입 */
		.join { 
			.join-process-zone {
				ul {
					padding:1rem 0.5rem;
					li {
						margin-left:1.5rem;
						&:before {left:-1.4rem; width:0.7rem; height:1.4rem;  }
					}
				}
			}
		}
	}
}
