@charset "utf-8";
.mylib {
  .ui--searchzone {
    margin-bottom: 45px;
  }
  .tbl-type2 {
    .link {
      &:hover {
        a {
          color: #333;
          text-decoration: underline;
        }
      }
    }
    .state {
      span {
        display: inline-block;
        width: 85%;
        height: 40px;
        padding: 8px 0 14px;
        text-align: center;
        color: #fff;
        box-sizing: border-box;
      }
      &.ok {
        span {
          background: #f98c0b;
        }
      }
      &.not {
        span {
          background: #5b5c5c;
        }
      }
    }
  }
  .tab-zone {
    margin-bottom: 30px;
  }
  .tit-pos {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: normal;
    color: #535353;
  }
  .tbl-type3 {
    .answer {
      th {
        background: #f8f1f1;
      }
    }
    .tit-book {
      margin-bottom: 16px;
    }
    .list-dash {
      text-align: left;
      li {
        position: relative;
        padding-left: 10px;
        &:after {
          position: absolute;
          top: 0;
          left: 0;
          content: "-";
        }
      }
    }
  }
}

@media (max-width: 970px) {
  .mylib {
    .tbl-type2 {
      .state span {
        height: 35px;
        font-size: 13px;
      }
    }
  }
}

@media (max-width: 768px) {
  .mylib {
    .ui--searchzone {
      margin-bottom: 1.7rem;
    }
    .tbl-type2 {
      .mobile01 {
        width: 20% !important;
      }
      .mobile02 {
        width: 16% !important;
      }
      .mobile03 {
        width: 24% !important;
      }
      .state {
        span {
          min-width: 50px;
          height: auto;
          padding: 3px 0 5px;
          font-size: 0.9rem;
        }
      }
    }
    .tit-pos {
      margin-bottom: 8px;
      font-size: 12px;
    }
    .btn-submit-group {
      margin-top: 23px;
      .btn-type2 {
        min-width: 44px;
      }
    }
  }
}
