@charset "utf-8";
@import "reset";

.openboard {
    .faq {
        border-top: 2px solid #30809f;
        li {
            p:before {
                display: inline-block;
                width: 3rem;
                height: 3rem;
                color: #fff;
                font-size: 16px;
                line-height: 3rem;
                text-align: center;
                font-weight: bold;
                border-radius: 5px;
            }
            .que-area {
                position: relative;
                padding: 15px 0;
                p {
                    &:before {
                        margin-right: 2rem;
                        background: #1e6bca;
                        content: "Q";
                    }
                    overflow: hidden;
                    display: inline-block;
                    width: 66%;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: #525252;
                    &:hover {
                        a {
                            text-decoration: underline;
                        }
                    }
                }
                button {
                    position: absolute;
                    top: 15px;
                    right: 2.3rem;
                    padding: 6px 0 8px;
                    font-size: 16px;
                    color: #a1b5cd;
                    span {
                        display: inline-block;
                        padding: 0 41px 0 13px;
                        background: url(/gbgs_lib/images/openboard/ico-arrow-off.png)
                            no-repeat 53px center;
                    }
                    border: 1px solid #a1b5cd;
                }
            }
            border-bottom: 1px solid #ddd;
            .ans-area {
                padding: 3.2rem 1rem 3.2rem 7%;
                border-top: 1px solid #ddd;
                p {
                    position: relative;
                    display: inline-block;
                    margin-left: 0.5rem;
                    padding-left: 5rem;
                    color: #f15323;
                    text-decoration: underline;
                    &:before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: #f15323;
                        content: "A";
                    }
                }
            }
            &.on {
                .que-area {
                    p {
                        color: #1e6bca;
                        text-decoration: underline;
                    }
                }
                button {
                    span {
                        background: url(/gbgs_lib/images/openboard/ico-arrow-on.png)
                            no-repeat 53px center;
                    }
                    border: 1px solid #a1b5cd;
                }
            }
        }
    }
    .index {
        display: inline-block;
        width: 7%;
        text-align: center;
        vertical-align: 10px;
    }
    .ans-area {
        display: none;
    }
    .top-banner {
        position: relative;
        display: flex;
        min-height: 153px;
        margin: 54px 0 3rem 0;
        background: #f1fafe;
        border-top: 3px solid #daeff9;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        &:before {
            position: absolute;
            top: -3px;
            left: 0;
            display: block;
            width: 136px;
            height: 3px;
            background: #4089c1;
            content: "";
        }
        &:after {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 3px;
            height: 49px;
            background: #4089c1;
            content: "";
        }
        .inner {
            display: table;
            margin: 0 auto;
            padding: 25px 50px;
            & > * {
                display: table-cell;
                vertical-align: middle;
            }
            .img {
                padding-right: 35px;
            }
            p {
                padding: 0 0 0 40px;
                border-left: 1px solid #bcdae7;
                word-break: break-all;
                line-height: 26px;
            }
            .txt-dotted2 {
                padding: 0 0 0 40px;
                border-left: 1px solid #bcdae7;
                li {
                    line-height: 26px;
                    &:before {
                        top: 10px;
                        background: #4089c1;
                    }
                }
            }
        }
    }
    .h3 {
        margin-bottom: 1.6rem;
    }
    .h4 {
        margin-bottom: 2.5rem;
    }
    .txt-important {
        color: #2a5caa;
    }
    .btn-type2.navy {
        -webkit-box-shadow: 4px 4px #cfcfcf;
        box-shadow: 4px 4px #cfcfcf;
    }
    .calendar-zone {
        margin-bottom: 60px;
        padding-top: 24px;
        text-align: center;
        border-top: 2px solid #30809f;
        .month {
            font-size: 34px;
            font-weight: bold;
            color: #257d92;
        }
        .indicator {
            position: relative;
            width: 30%;
            margin: 0 auto 23px;
        }
        .arrow {
            overflow: hidden;
            position: absolute;
            top: 8px;
            display: inline-block;
            width: 28px;
            height: 28px;
            text-indent: -999em;
            border-right: 2px #257d92 solid;
            border-bottom: 2px #257d92 solid;
            &.prev {
                right: 0;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
            }
            &.next {
                left: 0;
                transform: rotate(-225deg);
                -webkit-transform: rotate(-225deg);
                -moz-transform: rotate(-225deg);
                -ms-transform: rotate(-225deg);
                -o-transform: rotate(-225deg);
            }
        }
        .info {
            margin: -20px 0 12px 0;
            font-size: 14px;
            text-align: right;
            font-family: $font4;
            span {
                display: inline-block;
                margin-right: 5px;
                padding: 5px 12px 6px 12px;
                background: #f2ad09;
                border-radius: 30px;
                color: #fff;
            }
        }
        .tbl-calendar {
            border-top: 1px solid #d6d9db;
            border-bottom: 1px solid #d6d9db;
            font-family: $font4;
            th {
                height: 60px;
                background: #ecf8fe;
                border-left: 1px solid #d6d9db;
                font-family: $font4;
                font-weight: normal;
                &:first-child {
                    border-left: 0 none;
                    color: #f40723;
                }
                &:last-child {
                    color: #1277cd;
                }
            }
            td {
                height: 60px;
                padding: 12px 0 0 12px;
                position: relative;
                text-align: left;
                vertical-align: top;
                border-top: 1px solid #d6d9db;
                border-left: 1px solid #d6d9db;
                &:first-child {
                    border-left: 0 none;
                    color: #f40723;
                }
                &:last-child {
                    color: #1277cd;
                }
                .btn-app {
                    position: absolute;
                    top: 7px;
                    left: 35px;
                    display: inline-block;
                    padding: 5px 12px 6px 12px;
                    background: #f2ad09;
                    border-radius: 30px;
                    color: #fff;
                }
                .holiday {
                    padding-left: 5px;
                    color: #aeaeae;
                    font-size: 14px;
                }
            }
        }
    }
    .tbl-top-zone {
        overflow: hidden;
        margin-bottom: 12px;
        h3 {
            float: left;
            font-size: 20px;
            font-weight: normal;
        }
        .tbl-top {
            float: right;
            margin-bottom: 0;
            padding-top: 5px;
        }
    }
    .form--date {
        display: inline-block;
        > * {
            display: inline-block;
        }
        .sel-type3 {
            &.year {
                width: 82px;
            }
            &.mon {
                width: 63px;
            }
        }
    }
    .time-area {
        display: inline-block;
    }
    .form--time {
        display: inline-block;
        margin-left: 5px;
        .sel-type3 {
            width: 57px;
        }
        > * {
            display: inline-block;
        }
        > span {
            font-family: $font4;
        }
    }
    .ui--searchzone {
        margin-bottom: 28px;
    }
    .tbl-type2 {
        td,
        th {
            &:last-child {
                padding-right: 14px;
            }
        }
        .btn-view {
            position: relative;
            display: inline-block;
            width: 100%;
            height: 35px;
            max-width: 8rem;
            padding-left: 13px;
            line-height: 33px;
            text-align: left;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            &:after {
                position: absolute;
                top: 11px;
                right: 14px;
                display: inline-block;
                width: 12px;
                height: 12px;
            }
            &.on {
                border: 1px solid #006ebd;
                color: #006ebd;
                &:after {
                    border: 1px solid #024f89;
                    border-width: 1px 1px 0 0;
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    content: "";
                }
            }
            &.off {
                border: 1px solid #888;
                color: #888;
                &:after {
                    border: 1px solid #444;
                    border-width: 1px 1px 0 0;
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    content: "";
                }
            }
        }
    }
    .tbl-type3.survey {
        margin-bottom: 40px;
        border-color: #30809f;
        border-bottom: 1px solid #ddd;
        th {
            text-align: center;
            background: #f5f5f5;
            color: #333;
        }
        td {
            color: #333;
            &.tit {
                font-weight: bold;
                color: #525252;
            }
        }
    }
    .survey-area {
        dt {
            margin-bottom: 22px;
            padding: 40px 0 0 20px;
            color: #30809f;
            &:first-child {
                padding-top: 0;
            }
        }
        dd {
            padding: 0 0 40px 20px;
            border-bottom: 1px solid #ddd;
        }
        .ipt-lst {
            > li {
                float: none;
                margin: 10px 0 0 0;
                &:first-child {
                    margin-top: 0;
                }
            }
        }
        & + .btn-submit-group {
            text-align: right;
        }
        .result-list {
            li {
                overflow: hidden;
                margin-top: 14px;
                position: relative;
                &:first-child {
                    margin-top: 0;
                }
                > * {
                    display: inline-block;
                }
                .example {
                    width: 14.8rem;
                    word-break: break-all;
                }
                .graph-area {
                    position: absolute;
                    top: 50%;
                    margin: -8px 0 0 10px;
                    width: calc(89% - 14.8rem - 20px);
                    .graph {
                        position: relative;
                        display: inline-block;
                        height: 15px;
                    }
                    .graph-txt {
                        position: absolute;
                        top: -3px;
                        left: 103%;
                        width: 100%;
                        line-height: 1.1;

                    }
                    .color01 {
                        background: #30809f;
                    }
                    .color02 {
                        background: #f08d0d;
                    }
                    .color03 {
                        background: #3bc9a9;
                    }
                    .color04 {
                        background: #3857be;
                    }
                }
            }
        }
    }
}

@media (max-width: 1319px) {
    .openboard {
        .top-banner {
            margin-top: 2.5rem;
            .inner {
                .img {
                    text-align: center;
                }
                p,
                .txt-dotted2 li {
                    line-height: 1.4;
                    font-size: 1rem;
                    word-break: keep-all;
                }
                .txt-dotted2 li {
                    padding-left: 14px;
                    letter-spacing: 0;
                    &:before {
                        top: 0.45rem;
                        width: 5px;
                        height: 5px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .openboard {
        .top-banner {
            .inner {
                padding: 25px 20px;
                .img {
                    padding-right: 1rem;
                }
                p,
                .txt-dotted2 {
                    padding-left: 1rem;
                }
            }
        }
        .calendar-zone {
            margin-bottom: 30px;
            padding-top: 1.5rem;
            .month {
                font-size: 1.8rem;
            }
            .arrow {
                top: 4px;
                width: 1.8rem;
                height: 1.8rem;
            }
            .info {
                margin: -10px 0 5px 0;
                font-size: 1.2rem;
                span {
                    margin-right: 3px;
                    padding: 3px 6px 3px 6px;
                }
            }
            .tbl-calendar {
                td {
                    padding: 6px 0 0 6px;
                    .btn-app {
                        top: auto;
                        bottom: 10px;
                        left: 1px;
                        padding: 3px 6px 3px 6px;
                    }
                    .holiday {
                        display: block;
                        overflow: hidden;
                        width: 100%;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        padding: 0;
                        font-size: 1rem;
                    }
                }
            }
        }
        .tbl-top-zone {
            margin-bottom: 6px;
            h3 {
                font-size: 1.5rem;
            }
            .tbl-top {
                padding-top: 8px;
            }
        }
        .form--date {
            margin-bottom: 5px;
            .sel-type3 {
                &.year {
                    width: 82px;
                }
                &.mon {
                    width: 63px;
                }
            }
        }
        .time-area {
            display: block;
        }
        .form--time {
            margin-left: 0;
            .sel-type3 {
                width: 57px;
            }
            > * {
                display: inline-block;
            }
            > span {
                font-family: $font4;
            }
        }
        .tbl-type2 {
            .btn-view {
                height: 30px;
                padding-left: 7px;
                line-height: 28px;
                font-size: 1rem;
                &:after {
                    top: 10px;
                    right: 7px;
                    width: 8px;
                    height: 8px;
                }
            }
        }
        .tbl-type3.survey {
            margin-bottom: 15px;
        }
        .survey-area {
            dt {
                margin-bottom: 11px;
                padding: 15px 0 0 0;
            }
            dd {
                padding: 0 0 15px 0;
            }
            .ipt-lst {
                > li {
                    margin: 5px 0 0 0;
                }
            }
            .result-list {
                li {
                    .example {
                        width: 13rem;
                    }
                    .graph-area {
                        width: calc(89% - 12rem - 3rem);
                        .graph-txt {
                            width:80px;
                            top: 0;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .openboard {
        .faq {
            li {
                font-size: 1rem;
                line-height: 2rem;
                .que-area {
                    p {
                        font-size: 1.1rem;
                        &:before {
                            margin-right: 1rem;
                        }
                    }
                    button {
                        right: 1rem;
                        padding: 3px 0 4px;
                        font-size: 1.1rem;
                        color: #a1b5cd;
                        span {
                            padding: 0 2rem 0 0.6rem;
                            background: url(/gbgs_lib/images/openboard/ico-arrow-off.png)
                                no-repeat 3rem center;
                            background-size: 20% auto;
                        }
                    }
                }
                .ans-area {
                    padding: 1.5rem 1rem 2rem 0;
                    p {
                        margin: 0;
                        padding-left: 4rem;
                        font-size: 1.1rem;
                    }
                }
                &.on {
                    button {
                        span {
                            background: url(/gbgs_lib/images/openboard/ico-arrow-on.png)
                                no-repeat 3rem center;
                            background-size: 20% auto;
                        }
                    }
                }
            }
        }
        .index {
            display: none;
        }
        .time-area {
            .form--time:nth-of-type(1) {
                margin-bottom: 5px;
            }
        }
        .tbl-type2 {
            td {
                &:last-child {
                    padding-right: 0;
                }
            }
            .mobile {
                width: 22% !important;
            }
            .btn-view {
                height: 25px;
                line-height: 24px;
                &:after {
                    top: 7px;
                }
            }
        }
        .survey-area {
            .result-list {
                li {
                    margin-top: 10px;
                    .example {
                        width: 10rem;
                    }
                    .graph-area {
                        width: calc(89% - 11rem - 3rem);
                        .graph-txt {
                            top: 0;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .openboard {
        .faq {
            li {
                font-size: 1.2rem;
                line-height: 2.1rem;
            }
        }
    }
}

@media (max-width: 350px) {
    .openboard {
        .calendar-zone {
            .tbl-calendar {
                td {
                    .btn-app {
                        right: 2px;
                        padding: 3px 9px 3px 9px;
                    }
                }
            }
        }
        .form--date {
            .sel-type3.year {
                width: 78px;
            }
        }
    }
}
