@charset "utf-8";
@import "reset";

.openboard {
    .faq {
        border-top: 2px solid #30809f;
        li {
            p:before {
                display: inline-block;
                width: 3rem;
                height: 3rem;
                color: #fff;
                font-size: 16px;
                line-height: 3rem;
                text-align: center;
                font-weight: bold;
                border-radius: 5px;
            }
            .que-area {
                position: relative;
                padding: 15px 0;
                p {
                    &:before {
                        margin-right: 2rem;
                        background: #1e6bca;
                        content: "Q";
                    }
                    overflow: hidden;
                    display: inline-block;
                    width: 66%;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: #525252;
                    &:hover {
                        a {
                            text-decoration: underline;
                        }
                    }
                }
                button {
                    position: absolute;
                    top: 15px;
                    right: 2.3rem;
                    padding: 6px 0 8px;
                    font-size: 16px;
                    color: #a1b5cd;
                    span {
                        display: inline-block;
                        padding: 0 41px 0 13px;
                        background: url(/gbgs_lib/images/openboard/ico-arrow-off.png)
                            no-repeat 53px center;
                    }
                    border: 1px solid #a1b5cd;
                }
            }
            border-bottom: 1px solid #ddd;
            .ans-area {
                padding: 3.2rem 1rem 3.2rem 7%;
                border-top: 1px solid #ddd;
                p {
                    position: relative;
                    display: inline-block;
                    margin-left: 0.5rem;
                    padding-left: 5rem;
                    color: #f15323;
                    text-decoration: underline;
                    &:before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: #f15323;
                        content: "A";
                    }
                }
            }
            &.on {
                .que-area {
                    p {
                        color: #1e6bca;
                        text-decoration: underline;
                    }
                }
                button {
                    span {
                        background: url(/gbgs_lib/images/openboard/ico-arrow-on.png)
                            no-repeat 53px center;
                    }
                    border: 1px solid #a1b5cd;
                }
            }
        }
    }
    .index {
        display: inline-block;
        width: 7%;
        text-align: center;
        vertical-align: 10px;
    }
    .ans-area {
        display: none;
    }
    .top-banner {
        position: relative;
        display: box;
        min-height: 153px;
        margin: 54px 0 3rem 0;
        background: #f1fafe;
        border-top: 3px solid #daeff9;
        box-sizing: border-box;
        &:before {
            position: absolute;
            top: -3px;
            left: 0;
            display: block;
            width: 136px;
            height: 3px;
            background: #4089c1;
            content: "";
        }
        &:after {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 3px;
            height: 49px;
            background: #4089c1;
            content: "";
        }
        .inner {
            display: table;
            margin: 0 auto;
            padding: 25px 50px;
            & > * {
                display: table-cell;
                vertical-align: middle;
            }
            .img {
                padding-right: 35px;
            }
            p {
                padding: 0 0 0 40px;
                border-left: 1px solid #bcdae7;
                word-break: break-all;
                line-height: 26px;
            }
            .txt-dotted2 {
                padding: 0 0 0 40px;
                border-left: 1px solid #bcdae7;
                li {
                    line-height: 26px;
                    &:before {
                        top: 10px;
                        background: #4089c1;
                    }
                }
            }
        }
    }
    .h3 {
        margin-bottom: 1.6rem;
    }
    .h4 {
        margin-bottom: 2.5rem;
    }
    .txt-important {
        color: #2a5caa;
    }
    .btn-type2.navy {
        box-shadow: 4px 4px #cfcfcf;
    }
    .calendar-zone {
        padding-top: 24px;
        text-align: center;
        border-top: 2px solid #30809f;
        .month {
            font-size: 34px;
            font-weight: bold;
            color: #257d92;
        }
        .indicator {
            position: relative;
            width: 30%;
            margin: 0 auto 23px;
        }
        .arrow {
            overflow: hidden;
            position: absolute;
            top: 8px;
            display: inline-block;
            width: 28px;
            height: 28px;
            text-indent: -999em;
            border-left: none;
            border-top: none;
            border-right: 2px #257d92 solid;
            border-bottom: 2px #257d92 solid;
            &.prev {
                right: 0;
                transform: rotate(-45deg);
            }
            &.next {
                left: 0;
                transform: rotate(-225deg);
            }
        }
        .info {
            margin: -20px 0 12px 0;
            font-size: 14px;
            text-align: right;
            font-family: $font4;
            span {
                display: inline-block;
                margin-right: 5px;
                padding: 5px 12px 6px 12px;
                background: #f2ad09;
                border-radius: 30px;
                color: #fff;
            }
        }
        .tbl-calendar {
            margin-bottom: 60px;
            border-top: 1px solid #d6d9db;
            border-bottom: 1px solid #d6d9db;
            font-family: $font4;
            th {
                height: 60px;
                background: #ecf8fe;
                border-left: 1px solid #d6d9db;
                font-family: $font4;
                font-weight: normal;
                &:first-child {
                    border-left: 0 none;
                    color: #f40723;
                }
                &:last-child {
                    color: #1277cd;
                }
            }
            td {
                height: 60px;
                padding: 12px 0 0 12px;
                position: relative;
                text-align: left;
                vertical-align: top;
                border-top: 1px solid #d6d9db;
                border-left: 1px solid #d6d9db;
                &:first-child {
                    border-left: 0 none;
                    color: #f40723;
                }
                &:last-child {
                    color: #1277cd;
                }
                .btn-app {
                    position: absolute;
                    top: 7px;
                    left: 35px;
                    display: inline-block;
                    padding: 5px 12px 6px 12px;
                    background: #f2ad09;
                    border-radius: 30px;
                    color: #fff;
                }
                .holiday {
                    padding-left: 5px;
                    color: #aeaeae;
                    font-size: 14px;
                }
            }
        }
    }
}

@media (max-width: 1319px) {
    .openboard {
        .top-banner {
            margin-top: 2.5rem;
            .inner {
                .img {
                    text-align: center;
                }
                p,
                .txt-dotted2 li {
                    line-height: 1.4;
                    font-size: 1rem;
                    word-break: keep-all;
                }
                .txt-dotted2 li {
                    padding-left: 14px;
                    letter-spacing: 0;
                    &:before {
                        top: 0.45rem;
                        width: 5px;
                        height: 5px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .openboard {
        .top-banner {
            .inner {
                padding: 25px 20px;
                .img {
                    padding-right: 1rem;
                }
                p,
                .txt-dotted2 {
                    padding-left: 1rem;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .openboard {
        .faq {
            li {
                font-size: 1rem;
                line-height: 2rem;
                .que-area {
                    p {
                        font-size: 1.1rem;
                        &:before {
                            margin-right: 1rem;
                        }
                    }
                    button {
                        right: 1rem;
                        padding: 3px 0 4px;
                        font-size: 1.1rem;
                        color: #a1b5cd;
                        span {
                            padding: 0 2rem 0 0.6rem;
                            background: url(/gbgs_lib/images/openboard/ico-arrow-off.png)
                                no-repeat 3rem center;
                            background-size: 20% auto;
                        }
                    }
                }
                .ans-area {
                    padding: 1.5rem 1rem 2rem 0;
                    p {
                        margin: 0;
                        padding-left: 4rem;
                        font-size: 1.1rem;
                    }
                }
                &.on {
                    button {
                        span {
                            background: url(/gbgs_lib/images/openboard/ico-arrow-on.png)
                                no-repeat 3rem center;
                            background-size: 20% auto;
                        }
                    }
                }
            }
        }
        .index {
            display: none;
        }
    }
}

@media (max-width: 500px) {
    .openboard {
        .faq {
            li {
                font-size: 1.2rem;
                line-height: 2.1rem;
            }
        }
    }
}
