@charset "utf-8";
.openboard {
    .faq {
        border-top: 2px solid #30809f;
        li {
            .que-area {
                padding: 15px 0;
                a {
                    &:before {
                        display: inline-block;
                        width: 3rem;
                        height: 3rem;
                        margin-right: 2rem;
                        background: #1e6bca;
                        color: #fff;
                        font-size: 16px;
                        line-height: 3rem;
                        text-align: center;
                        font-weight: bold;
                        border-radius: 5px;
                        content: "Q";
                    }
                    color: #525252;
                }
                &:hover {
                    a {
                        text-decoration: underline;
                    }
                }
            }
            border-bottom: 1px solid #ddd;
            .ans-area {
                position: relative;
                padding: 3.2rem 1rem 3.2rem 7%;
                border-top: 1px solid #ddd;
                &:before {
                    position: absolute;
                    top: 3.2rem;
                    left: 7.6%;
                    display: inline-block;
                    width: 3rem;
                    height: 3rem;
                    margin-right: 2rem;
                    background: #f15323;
                    color: #fff;
                    font-size: 16px;
                    line-height: 3rem;
                    text-align: center;
                    font-weight: bold;
                    border-radius: 5px;
                    content: "A";
                }
                p {
                    display: inline-block;
                    margin-left: 5.5rem;
                    color: #f15323;
                    text-decoration: underline;
                }
            }
            &.on {
                .que-area {
                    a {
                        color: #1e6bca;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .index {
        display: inline-block;
        width: 7%;
        text-align: center;
    }
    .ans-area {
        display: none;
    }
}

@media (max-width: 768px) {
    .openboard {
        .faq {
            li {
                font-size: 1.3rem;
                line-height: 2.4rem;
            }
        }
    }
}
